<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	  
	<!-- head 영역 시작 -->
	<!-- 개별적으로 사용할 css, js 링크를 걸기 위해서 남겨둠 -->
	<head>
		<th:block layout:fragment="css">
			<style>
			    #itemMod {
			      width:80px;
			      height: 25px;
			      margin-left: 22px;
			    }
			    #itemDelete {
			      width: 100px;
			      height: 40px;
			    }
			    #itemRegistration {
			      width: 100px;
			      height: 40px;
			    }
			    .pagination {
			      list-style: none;
			      width: 100%;
			      display: inline-block;
			    }
			    .pagination_button {
			      float: left;
			      margin-left: 5px;
			    }
			</style>
		</th:block>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				
			</script>
		</th:block>
	</head>
	<!-- head 영역 끝 -->
	
<body>
  <div id="container" layout:fragment="content">
    <h1>상품 관리</h1>
    <form>
      <table>
        <tr>
          <td align="center">
            <select name="searchCondition">
              <option value="ALL" th:selected="${searchCondition == 'ALL'}">전체</option>
              <option value="ITEMNAME" th:selected="${searchCondition == 'ITEMNAME'}">이름</option>
              <option value="ITEMPRICE" th:selected="${searchCondition == 'ITEMPRICE'}">가격</option>
              <option value="ITEMREGDATE" th:selected="${searchCondition == 'ITEMREGDATE'}">등록일</option>
              <option value="ITEMSTATUS" th:selected="${searchCondition == 'ITEMSTATUS'}">상태</option>
            </select>
            <input type="text" name="searchKeyword" value="">
            <button type="button" id="btnSearch">검색</button>
          </td>
        </tr>
      </table>
    </form>
    <br>

    <table border="1" style="width: 1200px; border-collapse: collapse; border-left: hidden; border-right: hidden; border-top:hidden">
      <tr>
        <td colspan="7" align="right"><input type="checkbox"> 전체 선택</td>
      </tr>
      <tr>
        <th style="background: lightsteelblue; width: 10%;"></th>
        <th style="background: lightsteelblue; width: 10%;">No.</th>
        <th style="background: lightsteelblue; width: 20%;">상품 이름</th>
        <th style="background: lightsteelblue; width: 20%;">상품 가격</th>
        <th style="background: lightsteelblue; width: 15%;">상품 등록일</th>
        <th style="background: lightsteelblue; width: 15%;">상품 상태</th>
        <th style="background: lightsteelblue; width: 10%;">상품 관리</th>
      </tr>
      <tr th:each="item: ${getItemList}">
        <td><input type="checkbox"></td>
        <td th:text="${item.itemNo"></td>
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.itemPrice}"></td>
        <td th:text="${item.itemRegdate eq null ? '' : #string.substring(item.itemRegdate, 0, 10)}}"></td>
        <td th:text="${item.itemStatus}"></td>
        <td><a href="#"><input type="button" value="수정" id="itemMod"></a></td>
      </tr>
    </table>

    <br>
    <!-- 삭제/등록버튼 -->
    <div style="text-align:right;">
      <a href="#"><input type="button" value="상품삭제" id="itemDelete"></a>
      <a href="#"><input type="button" value="상품등록" id="itemRegistration"></a>
    </div>
    <br>
    <!-- 페이징 -->
    <!--<div style="text-align:center;">
      <ul class="pagination" th:if="${getItemList.totalElements > 0}"
                  th:with="pageNumber = ${getItemList.pageable.pageNumber},
                              pageSize = ${getItemList.pageable.pageSize},
                              totalPages = ${getItemList.totalPages},
                              startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                              tempEndPage = ${startPage + pageSize -1 },
                              endPage =  ${tempEndPage > totalPages ? totalPages : tempEndPage}">
          <li class="pagination_button" th:if="${pageNumber > 0}">
            <a th:href="@{/item/itemList(
                    page=${pageNumber - 1},
                    searchCondition=${searchCondition},
                    searchKeyword=${searchKeyword})}">이전</a>
          </li>
        
        
          <li class="pagination_button" th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
          <!-- startPage와 endPage에 있는 숫자들을 page에 담아옴. -->
            <!--<a th:href="@{/item/itemList(page=${page - 1},
                    searchCondition=${searchCondition},
                    searchKeyword=${searchKeyword})}"
                    th:text="${page}"></a>
          </li>
        
          <li class="pagination_button" th:if="${pageNumber < totalPages - 1}">
            <a th:href="@{/item/itemList(page=${pageNumber + 1},
                    searchCondition=${searchCondition},
                    searchKeyword=${searchKeyword})}">다음</a>
          </li>
      </ul>-->
    </div>

  </div>
</body>
</html>