<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>단체메일 발송</title>
  <style>
    #container {width: 1200px; margin: 0 auto;}
  </style>
</head>
<body>
  <div id="container">
    <h1>단체 메일 전송</h1>
    <table>
      <tr>
        <th>받는 사람</th>
        <td><input type="email"></td>
      </tr>
      <tr>
        <th>제목</th>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td colspan="2"><textarea></textarea></td>
      </tr>
      <tr>
        <td colspan="2"><input type="button" value="메일 전송"></td>
      </tr>
    </table>
  </div>
</body>
</html>