<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	  
	<!-- head 영역 시작 -->
	<!-- 개별적으로 사용할 css, js 링크를 걸기 위해서 남겨둠 -->
	<head>
		<th:block layout:fragment="css">
			<style>

			</style>
		</th:block>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				
			</script>
		</th:block>
	</head>
	<!-- head 영역 끝 -->
	
<body>
  <div id="container" layout:fragment="content">
    <h1>관리자 메인페이지</h1>
    <table style="margin: 0 auto;">
      <tr>
        <td>
          <img src="images/회원 아이콘.png" width="150px"><br>
          <a href="#" id="adminMain_user">회원 관리
        </td>
        <td></td>
        <td>
          <img src="images/원데이클래스 아이콘.png" width="150px"><br>
          <a href="dayclassList" id="adminMain_dayclass">원데이 클래스 관리
        </td>
        <td></td>
        <td>
          <img src="images/주문예약 아이콘.png" width="150px"><br>
          <a href="#">주문 및 예약관리
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <img src="images/상품 아이콘.png" width="150px"><br>
          <a href="itemList">상품 관리
        </td>
        <td></td>
        <td>
          <img src="images/리뷰 아이콘.png" width="150px"><br>
          <a href="#">리뷰 게시판
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</body>
</html>