<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 메인</title>
  <style>
    #container { width: 1200px; margin: 0 auto;}
  </style>
</head>
<body>
  <div id="container">
    <h1>관리자 메인페이지</h1>
    <table style="margin: 0 auto;">
      <tr>
        <td>
          <img src="images/회원 아이콘.png" width="150px"><br>
          <a href="#">회원 관리
        </td>
        <td></td>
        <td>
          <img src="images/원데이클래스 아이콘.png" width="150px"><br>
          <a href="#">원데이 클래스 관리
        </td>
        <td></td>
        <td>
          <img src="images/주문예약 아이콘.png" width="150px"><br>
          <a href="#">주문 및 예약관리
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <img src="images/상품 아이콘.png" width="150px"><br>
          <a href="#">상품 관리
        </td>
        <td></td>
        <td>
          <img src="images/리뷰 아이콘.png" width="150px"><br>
          <a href="#">리뷰 게시판
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</body>
</html>