<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	  
	<!-- head 영역 시작 -->
	<!-- 개별적으로 사용할 css, js 링크를 걸기 위해서 남겨둠 -->
	<head>
		<th:block layout:fragment="css">
			<style>
				#adminIcon {
					text-align: center;
				}
			</style>
		</th:block>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				
			</script>
		</th:block>
	</head>
	<!-- head 영역 끝 -->
	
<body>
	<div id="container" layout:fragment="content">
	
		<h1>관리자 메인페이지</h1>
    		<div id="adminIcon">
			    <div>
					<img src="images/회원 아이콘.png" width="150px"><br>
			    	<a href="userList" id="adminMain_user">회원 관리
			    </div>
			    <div>
					<img src="images/회원 아이콘.png" width="150px"><br>
			    	<a href="userList" id="adminMain_user">상품 관리
			    </div>
			    <div>
					<img src="images/회원 아이콘.png" width="150px"><br>
			    	<a href="userList" id="adminMain_user">원데이클래스 관리
			    </div>
			    <div>
					<img src="images/회원 아이콘.png" width="150px"><br>
			    	<a href="userList" id="adminMain_user">주문 및 예약 관리
			    </div>
			    
			    <div>
					<img src="images/회원 아이콘.png" width="150px"><br>
			    	<a href="userList" id="adminMain_user">리뷰 관리
			    </div>
			    <div>
					<img src="images/회원 아이콘.png" width="150px"><br>
			    	<a href="userList" id="adminMain_user">공지사항 관리
			    </div>
			    <div>
					<img src="images/회원 아이콘.png" width="150px"><br>
			    	<a href="userList" id="adminMain_user">이벤트 관리
			    </div>
			    <div>
					<img src="images/회원 아이콘.png" width="150px"><br>
			    	<a href="userList" id="adminMain_user">QnA 관리
			    </div>
    		</div>

	</div>
</body>
</html>