<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	  
	<!-- head 영역 시작 -->
	<!-- 개별적으로 사용할 css, js 링크를 걸기 위해서 남겨둠 -->
	<head>
		<th:block layout:fragment="css">
			<style>
			    #orderCancel {
			      width: 100px;
			      height: 40px;
			    }
			    #payCancel {
			      width: 100px;
			      height: 40px;
			    }
			    .pagination {
			      list-style: none;
			      width: 100%;
			      display: inline-block;
			    }
			
			    .pagination_button {
			      float: left;
			      margin-left: 5px;
			    }
			</style>
		</th:block>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				
			</script>
		</th:block>
	</head>
	<!-- head 영역 끝 -->
	
<body>
	<div id="container" layout:fragment="content">
		<div>
  			<h1 id="orderAndReserAdmin">주문 및 예약 관리</h1>
		</div>
		<div>
			<a href="#">상품 주문 내역</a>&ensp;&ensp;
			<a href="#">원데이클래스 예약 내역</a>
		</div>
		
		<!-- 전체선택 Select -->
		<div id="div_Reser_totalSelect">
			<label for="selectAll"><input type="checkbox" name="select" id="reserSelectAll"> <span>전체선택</span></label>
		</div>
		
		<!-- 원데이클래스 예약 리스트 Table -->
	    <div id="div_reserList_T">
	        <table border="1" id="reserList_T">
	        	<tr>
	        		<th class="reserList_T_05"></th>
			        <th class="reserList_T_05">예약번호</th>
			        <th class="reserList_T_10">예약자명</th>
			        <th class="reserList_T_10">회원 아이디</th>
			        <th class="reserList_T_20">예약한 클래스번호</th>
			        <th class="reserList_T_10">예약날짜</th>
			        <th class="reserList_T_10">예약시간</th>
			        <th class="reserList_T_20">예약상태</th>
			        <th class="reserList_T_10">참여현황</th>
	      		</tr>
	      		<tr th:each="reser: ${getReserList.content}">
	      			<td><input type="checkbox" name="chk"></td>
		        	<td th:text="${reser.reserNo}"></td>
		        	<!--<td>       회원이름 누르면 회원정보 모달?페이지? 띄우기
						<a id="a_itemName" th:text="${item.itemName}"
							th:href="@{/admin/item/{itemNo} (itemNo=${item.itemNo})}">
						</a>
					</td>-->
					<td th:text="${user.userNm}"></td>
					<td th:text="${user.userId}"></td>
		        	<td th:text="${user.userRegdate eq null ? '' : #strings.substring(user.userRegdate, 0, 10)}"></td>
		        	<td>
		        		<a id="userReview" th:text="Review">
							<!--th:href="@{/admin/itemUpdate/{itemNo} (itemNo=${item.itemNo})}">-->
						</a>
						<a id="userQnA" th:text="QnA">
							<!--th:href="@{/admin/itemUpdate/{itemNo} (itemNo=${item.itemNo})}">-->
						</a>
		        	</td>
		     	 </tr>
		    </table>
		</div>
		
		<!-- 예약취소/결제취소 버튼 -->
	    <div id="dayclassReserTotalBtn">
	    	<a href="#"><input type="button" value="예약 취소" id="orderCancel"></a>
	    	<a href="#"><input type="button" value="결제 취소" id="payCancel"></a>
		</div>
		
		

        <th style="background: lightsteelblue; width: 5%;"></th>
        <th style="background: lightsteelblue; width: 5%;">No.</th>
        <th style="background: lightsteelblue; width: 10%;">회원 아이디</th>
        <th style="background: lightsteelblue; width: 10%;">회원 이름</th>
        <th style="background: lightsteelblue; width: 20%;">클래스명</th>
        <th style="background: lightsteelblue; width: 20%;">클래스 금액</th>
        <th style="background: lightsteelblue; width: 15%;">예약 날짜</th>
        <th style="background: lightsteelblue; width: 15%;">참여 현황</th>
      </tr>
      <tr th:each="item: ${getItemList}">
        <td><input type="checkbox"></td>
        <td th:text="${reservation.reservationNo}"></td>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${item.item}"></td>
        <td th:text="${item.item}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.item}"></td>
      </tr>
    </table>
    <br>


	</div>
</body>
</html>