<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			function findAddr(){
		      
		    }
		</script>
	</th:block>
	
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/myPage/changeInfo.css}"/>
	</th:block>
</head>

<body>
<div layout:fragment="content">
  <main class="centre">
  		<!-- 사이드 바 -->
	    <div class="left-nav-bar">
	      <div class="mypage2">
	        <h2><a href="/mypage/myPage">마이페이지<a></h2>
	      </div>
	      <div class="menu">
	        <div class="sub-menu">
	          <h3>My 쇼핑</h3>
	          <ul class="menu-group">
	            <li class="menu-name"><a href="#">구매내역</a></li>
	            <li class="menu-name"><a href="#">예약확인</a></li>
	            <li class="menu-name"><a href="#">장바구니</a></li>
	            <li class="menu-name"><a href="#">찜목록</a></li>
	          </ul>
	        </div>
	        <div class="sub-menu">
	          <ul class="menu-group">
	            <h3>My 활동</h3>
	            <li class="menu-name"><a href="#">나의 리뷰</a></li>
	          </ul>
	        </div>
	        <div class="sub-menu">
	          <ul class="menu-group">
	            <h3>My 정보</h3>
	            <li class="menu-name"><a th:href="@{/mypage/changeInfo}">개인정보확인/수정</a></li>
	          </ul>
	        </div>
	        <div class="sub-menu">
	          <ul class="menu-group">
	            <li><a href="#"><h3>나의 QnA</h3></a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	    
	    <div class="c1" style="margin:24px 50px">
	      <form action="/user/join" id="joinForm" class="form" method="post">
	        <h3 class="changeInfo">회원정보수정</h3>
	        <div style="display: flex;">
	          <input type="text" readonly class="box" id="userId" name="userId" th:value="${socialUser != null ? socialUser.userId : ''}">
	        </div>
	
	        <div class="pw-check">
	          <div class="inputBox light">
	            <input type="password" id="userPw" name="userPw" required class="input" placeholder="비밀번호"><label for="userPw" class="input-label"></label>
	            <div id="show" class="show" onclick="fnPwShow(this);"></div>
	          </div>
	          <div class="check-light"></div>
	        </div>
	
	        <div class=" check2">
	          <div class="inputBox light">
	            <input type="password" id="userPwCheck" name="userPwCheck" required class="input" placeholder="비밀번호확인" style="margin-top: 12px;"><label for="userPwCheck" class="input-label"></label>
	          </div>
	          <div class="check-light"></div>
	          <p id="pwRecheck" style="font-size: 12px; font-weight: bolder; margin-left: 5px; text-align: left;"></p>
	        </div>
	
	        <input type="text" id="userNm" name="userNm" placeholder="이름" class="box">
	        <input type="text" id="userBirth" name="userBirth" placeholder="생년월일 ex)19901010" class="box">
	        <select id="userGender" name="userGender" class="box">
	          <option selected disabled>성별</option>
	          <option value="m">남자</option>
	          <option value="f">여자</option>
	          <option value="n">선택 안함</option>
	        </select>
	        <input type="text" id="userTel" name="userTel" placeholder="전화번호 ex)01012345678" class="box">
	        <input type="text" id="userMail" name="userMail" placeholder="이메일 ex)xxx@xxx.com" th:value="${socialUser != null ? socialUser.userMail : ''}" class="box">
	        <input id="post"  name="userAddr1" type="text" value="우편번호" readonly onclick="findAddr()">
	        <input id="addr" name="userAddr2" type="text" placeholder="주소" readonly> <br>
	        <input id="userAddr3" name="userAddr3" type="text" placeholder="상세주소">
	        <div class="buttons">
	          <input type="button" value="수정하기" class="btn">
	          <input type="reset" value="취소" class="btn">
	          <input type="button" value="탈퇴" class="btn">
	        </div>
	      </form>
	    </div>
  </main>
</div>
</body>
</html>