<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function() {
				if($("#quitMsg").val() == "N") {
					alert("비밀번호가 틀렸습니다.");
				}
				
				$("#pwBtn").on("click", function(){
			        $("#joinForm").submit();
				});
			});
		</script>
	</th:block>
	
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/myPage/changeInfoPw.css}"/>
	</th:block>
</head>

<body>
<div layout:fragment="content" style="height: 70%;">
  <main class="centre">
  <input type="hidden" name="quitMsg" id="quitMsg" th:value="${quitMsg}">
  		<!-- 사이드 바 -->
	    <div class="left-nav-bar">
	      <div class="mypage2">
	        <h2><a href="/mypage/myPage">마이페이지<a></h2>
	      </div>
	      <div class="menu">
	        <div class="sub-menu">
	          <h3>My 쇼핑</h3>
	          <ul class="menu-group">
	            <li class="menu-name"><a th:href="@{/mypage/myPage}">주문/취소확인</a></li>
	            <li class="menu-name"><a th:href="@{/mypage/myReserList}">예약/취소확인</a></li>
	            <li class="menu-name"><a th:href="@{/mypage/myLikeList}">찜목록</a></li>
	          </ul>
	        </div>
	        <div class="sub-menu">
	          <ul class="menu-group">
	            <h3>My 활동</h3>
	            <li class="menu-name"><a th:href="@{/mypage/myRvwList}">나의 리뷰</a></li>
	          </ul>
	        </div>
	        <div class="sub-menu">
	          <ul class="menu-group">
	            <h3>My 정보</h3>
	            <li class="menu-name"><a th:href="@{/user/changeInfoPw}">개인정보확인</a></li>
	            <li class="menu-name"><a th:href="@{/mypage/quit}">회원탈퇴</a></li>
	          </ul>
	        </div>
	        <div class="sub-menu">
	          <ul class="menu-group">
	            <li style="list-style: none;"><a th:href="@{/mypage/qnaList}"><h3>나의 QnA</h3></a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	    
	    <div>
		    <div class="c1" style="margin:24px 125px;">
		      <form action="/user/changeInfoPw" id="joinForm" class="form" method="post">
		        <h3 class="changeInfo">비밀번호 확인</h3>
		
		        <div class="pw-check">
		            <input type="password" id="userPw" name="userPw" required class="input2" placeholder="현재 비밀번호 확인"><label for="userPw" class="input-label"></label>
		        </div>
		        
		        <div class="buttons">
		          <input type="button" id="pwBtn" name="pwUser" value="확인" class="btn2">
		          <input type="button" id="cancel" value="취소" class="btn2" onclick="history.back()";>
		        </div>
		      </form>
		    </div>
	    </div>
  </main>
</div>
</body>
</html>