<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function() {
				$("#reserCondition").on('change', function() {
					let page = 0;
					fnGetReserListAjax(page);
				});
				
				$(document).on("click", ".pagination a", function(e) {
					e.preventDefault();
					const page = $(this).attr("href");
					fnGetReserListAjax(page);
				});
			});
			
			function fnGetReserListAjax(page) {
				$.ajax({
						url: '/mypage/myReserListAjax',
						type: 'post',
						data: {
							page: page,
							reserCondition: $("#reserCondition").val()
						}, success: function(obj) {
							console.log(obj);
							
							let htmlstr = "";
							
							if(obj.pageItems.content.length == 0) {
								htmlstr += `
									<p class="noReser"><span class="noReserStatus">${$("#reserCondition option:selected").text()}</span>인 예약이 없습니다.</p>
								`;
								$("#boxxWrapper").html(htmlstr);
							} else {
							
								for(let i = 0; i < obj.pageItems.content.length; i++) {
									htmlstr += `
										<div class="boxx">
										  <div class="imgWrapper">
									        <img src="/dayclass/${obj.pageItems.content[i].fileName}" width="130px" margin="10px">
									      </div>
									      <div class="box_product">`;
									if(obj.pageItems.content[i].reserStatus == 'MV') {
										htmlstr += `
									         <div class="box_product_detail" style="color: red; font-weight: 600;">입금대기</div>									
										`;
									} else if(obj.pageItems.content[i].reserStatus == 'PE') {
										htmlstr += `
									         <div class="box_product_detail" style="color: #28693F; font-weight: 600;">결제완료</div>					
										`;
									} else if(obj.pageItems.content[i].reserStatus == 'RC') {
										htmlstr += `
									         <div class="box_product_detail" style="color: lightgray; font-weight: 600;">예약취소</div>								
										`;
									} else if(obj.pageItems.content[i].reserStatus == 'PC') {
										htmlstr += `
									         <div class="box_product_detail" style="color: lightgray; font-weight: 600;">결제취소</div>									
										`;
									}
									htmlstr += `
									         <div class="box_product_detail">${obj.pageItems.content[i].dayclassName}</div>
									         <div class="box_product_detail">
										         <div class="box_detail" style="display: inline-block;">예약일자: ${obj.pageItems.content[i].partiDate}</div>
										          ${obj.pageItems.content[i].partiTime == 'A' ? '<div class="box_detail" style="display: inline-block;">오전 9:30~12:30</div>'
										          : '<div class="box_detail" style="display: inline-block;">오후 14:00~17:00</div>'}
									         </div>
									       </div>
									       <div class="box_right">
									         <span class="box_right_detail"><a href="/mypage/getReserDetail/${obj.pageItems.content[i].reserNo}">예약 상세보기</a></span>
									         <span class="box_right_detail_b"><a href="#">리뷰쓰기</a></span>
									       </div>
									     </div>
									`;
									
								}
								
								$("#boxxWrapper").html(htmlstr);
							}
							
							htmlstr = "";
							
							let pageNumber = obj.pageItems.pageable.pageNumber;
							let pageSize = obj.pageItems.pageable.pageSize;
							let totalPages = obj.pageItems.totalPages;
							let startPage = Math.floor((pageNumber / pageSize) * pageSize + 1);
							let tempEndPage = startPage + pageSize -1;
							let endPage = tempEndPage > totalPages ? totalPages : tempEndPage;
							console.log(pageNumber);
							console.log(pageSize);
							console.log(totalPages);
							console.log(startPage);
							console.log(tempEndPage);
							console.log(endPage);
							
							if(pageNumber > 0) {
								htmlstr += `
									<li class="pagination_button">
										<a style="border: 0px;" href="${pageNumber - 1}">&#60;</a>
									</li>
								`;
							}
							
							let realStart = totalPages - startPage < pageSize ? 
												totalPages < pageSize ? 1 : totalPages - pageSize + 1 
											: startPage;
							
							for(let i = realStart; i <= endPage; i++) {
								if(pageNumber == i-1) {
									htmlstr += `<li class="pagination_button">
											   	   <a class="present" href="${i - 1}">${i}</a>
										        </li>
									`;
								} else {
									htmlstr += `<li class="pagination_button">
											   	   <a href="${i - 1}">${i}</a>
										        </li>
									`;
								}
							}
							
							if(pageNumber < totalPages - 1) {
								htmlstr += `<li class="pagination_button">
										       <a style="border: 0px;" href="${pageNumber + 1}">&#62;</a>
									        </li>
								`;
							}
							
							$(".pagination").html(htmlstr);
						}, error: function(e) {
							console.log(e);
						}
					});
			}
		</script>
	</th:block>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/myPage/myPage.css}"/>
	</th:block>
</head>

<body>
	<div layout:fragment="content" style="height: 75vh;">
		<main class="centre">
	    <!-- 사이드 바 -->
	    <div class="left-nav-bar">
	      <div class="mypage2">
	        <h2><a href="/mypage/myPage">마이페이지<a></h2>
	      </div>
	      <div class="menu">
	        <div class="sub-menu">
	          <h3>My 쇼핑</h3>
	          <ul class="menu-group">
	            <li class="menu-name"><a th:href="@{/mypage/myPage}">주문/취소확인</a></li>
	            <li class="menu-name"><a th:href="@{/mypage/myReserList}">예약/취소확인</a></li>
	            <li class="menu-name"><a th:href="@{/mypage/myLikeList}">찜목록</a></li>
	          </ul>
	        </div>
	        <div class="sub-menu">
	          <ul class="menu-group">
	            <h3>My 활동</h3>
	            <li class="menu-name"><a th:href="@{/mypage/myRvwList}">나의 리뷰</a></li>
	          </ul>
	        </div>
	        <div class="sub-menu">
	          <ul class="menu-group">
	            <h3>My 정보</h3>
	            <li class="menu-name"><a th:href="@{/user/changeInfoPw}">개인정보확인</a></li>
	            <li class="menu-name"><a th:href="@{/mypage/quit}">회원탈퇴</a></li>
	          </ul>
	        </div>
	        <div class="sub-menu">
	          <ul class="menu-group">
	            <li style="list-style: none;"><a th:href="@{/mypage/qnaList}"><h3>나의 QnA</h3></a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	    <!-- 메인 내용 -->
	    <div class="mainContentWrapper">
		    <div class="main-content">
		      <h2>예약 확인</h2>
		      <span class="search">
		        <select class="search-bar" name="reserCondition" id="reserCondition">
		        	<option th:selected="${reserCondition == null || reserCondition == '' || reserCondition == 'ALL'}" value="ALL">전체</option>
		        	<option th:selected="${reserCondition == 'MV'}" value="MV">입금대기</option>
		        	<option th:selected="${reserCondition == 'PE'}" value="PE">결제완료</option>
		        	<option th:selected="${reserCondition == 'RC'}" value="RC">예약취소</option>
		        	<option th:selected="${reserCondition == 'PC'}" value="PC">결제취소</option>
		        </select>
		      </span>
		      <!-- 아이템 -->
		      <div id="boxxWrapper">
			      <div class="boxx" th:each="reser : ${getReserList}">
			      	<div class="imgWrapper">
			          <img th:src="@{'/dayclass/' + ${reser.fileName}}">
			      	</div>
			        <div class="box_product">
			          <div class="box_product_detail" th:if="${reser.reserStatus == 'MV'}" style="color: red; font-weight: 600;">입금대기</div>
			          <div class="box_product_detail" th:if="${reser.reserStatus == 'PE'}" style="color: #28693F; font-weight: 600;">결제완료</div>
			          <div class="box_product_detail" th:if="${reser.reserStatus == 'RC'}" style="color: lightgray; font-weight: 600;">예약취소</div>
			          <div class="box_product_detail" th:if="${reser.reserStatus == 'PC'}" style="color: lightgray; font-weight: 600;">결제취소</div>
			          <div class="box_product_detail" th:text="${reser.dayclassName}"></div>
			          <div class="box_product_detail">
				        <div class="box_detail" th:text="${'예약일자: ' + reser.partiDate}" style="display: inline-block;"></div>
				        <div class="box_detail" th:if="${reser.partiTime == 'A'}" style="display: inline-block;">오전 9:30~12:30</div>
				        <div class="box_detail" th:if="${reser.partiTime == 'P'}" style="display: inline-block;">오후 14:00~17:00</div>
			          </div>
			        </div>
			        <div class="box_right">
			          <span class="box_right_detail"><a th:href="@{/mypage/getReserDetail/{reserNo} (reserNo=${reser.reserNo})}">예약 상세보기</a></span>
			        </div>
			      </div>
		      </div>
		      <p class="noReser" th:if="${#lists.size('getReserList') == 0}"><span class="noReserStatus"></span>인 예약이 없습니다.</p>
		    </div>
		  	<div class="paging" style="text-align:center;">
				<ul class="pagination" th:if="${getReserList.totalElements > 0}"
									   th:with="pageNumber = ${getReserList.pageable.pageNumber},
												pageSize = ${getReserList.pageable.pageSize},
												totalPages = ${getReserList.totalPages},
												startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
												tempEndPage = ${startPage + pageSize - 1},
												endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
					<li class="pagination_button" th:if="${pageNumber > 0}">
						<a style="border: 0px;" th:href="${pageNumber - 1}">&#60;</a>
					</li>
				
					<li class="pagination_button" th:each="page : ${#numbers.sequence(totalPages - startPage < pageSize ? (totalPages < pageSize ? 1 :totalPages - pageSize + 1) : startPage, endPage)}">
						<a th:href="${page - 1}" th:text="${page}"></a>
					</li>
				
					<li class="pagination_button" th:if="${pageNumber < totalPages - 1}">
						<a style="border: 0px;" th:href="${pageNumber + 1}">&#62;</a>
					</li>
				</ul>
			</div>
	    </div>
	  </main>
	</div>
</body>
</html>