<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			//탑버튼
		    $(window).scroll(function() {
		      if ($(this).scrollTop() > 50) {
		      	$('#topBtn').fadeIn();
		        } else {
		        $('#topBtn').fadeOut();
		      }
		     });
		     $("#topBtn").click(function() {   
		     $('html, body').animate({
		       scrollTop : 0
		      }, 50);
		      return false;
		      });
		</script>
	</th:block>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/onedayClass.css}"/>
	</th:block>
</head>

<body>
	<div layout:fragment="content" class="container">
		<div th:each="dayclass : ${dayclassList}" class="boxx">
			<div class="card">
			    <img th:src="@{'/dayclass/' + ${dayclass.fileName}}" alt="NoImg" class="card_img">
			</div>
		    <div class="box_product">
		      <div class="box_product_detail"><a th:href="@{/dayclass/dayclass/{dayclassNo} (dayclassNo=${dayclass.dayclassNo})}" th:text="${dayclass.dayclassName}" class="className"></a></div>
		      <div class="box_product_detail2">
		      	<span name="detailSpan" 
		      		th:text="${dayclass.dayclassMinName}"></span>
	      		<!-- <span name="detailSpan" 
	      		th:text="${dayclass.dayclassDetails.length > 200 ? #strings.substring(dayclass.dayclassDetails, 0, 150) + '...' : dayclass.dayclassDetails} "></span> -->
		      </div>
		    </div>
		    <div class="box_right">
		      <span class="box_right_detail_b" th:text="${#numbers.formatInteger(dayclass.dayclassPrice, 3, 'COMMA')}"></span><span class="currency">원</span>
		    </div>
		</div>
		<!-- <div id="more">
	      <button type="button" id="show-more" class="show-more">더보기+</button>
	    </div> -->
		<a id="topBtn" href="#">
           <img src="https://widit2.knu.ac.kr/~kiyang/teaching/IT/stPrj/happydpqhs/jam/%ED%83%91%EB%B2%84%ED%8A%BC.png"
           style="width:2.5rem; height:2.5rem">
        </a>
	</div>
</body>
</html>