<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		
		</script>
	</th:block>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/onedayClass.css}"/>
	</th:block>
</head>

<body>
	<div layout:fragment="content" class="container">
		<div th:each="dayclass : ${dayclassList}" class="boxx">
		    <img src="https://photo.coolenjoy.co.kr/data/editor/2106/f1cf6e8bf704135d4bedac720a1d71153ba524c8.jpg">
		    <div class="box_product">
		      <div class="box_product_detail">상품명: <a th:href="@{/dayclass/dayclass/{dayclassNo} (dayclassNo=${dayclass.dayclassNo})}" th:text="${dayclass.dayclassName}"></a></div>
		      <div class="box_product_detail">
		      	<span name="detailSpan" 
		      		th:text="${dayclass.dayclassDetails.length > 100 ? #strings.substring(dayclass.dayclassDetails, 0, 100) + '...' : dayclass.dayclassDetails} "></span>
		      </div>
		    </div>
		    <div class="box_right">
		      <span class="box_right_detail_b" th:text="${dayclass.dayclassPrice}"></span>
		    </div>
		</div>
	</div>
</body>
</html>