<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/board/boardList.css}"/>
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function() {
				
				$(".present").on('click', function(e) {
					$(e.target).css("color", "white");
				})
				
				$(document).on("click", ".pagination_button a", function(e) {
					e.preventDefault();
					$.ajax({
						url: '/board/noticeList/3',
						type: 'post',
						data: {	
							page:  $(this).attr("href")
						},
						success: function(obj) {
							console.log(obj);
							
							let htmlstr = "";
							
							for(let i=0; i<obj.pageItems.content.length; i++) {
								htmlstr += `
									<tr>
										<td class="list-title">
											<a href="/board/updateNoticeCnt/${obj.pageItems.content[i].boardNo}">
											${obj.pageItems.content[i].boardTitle}
											</a>
										</td>			
										<td class="list-date">${obj.pageItems.content[i].boardRegdate == null ? '' : obj.pageItems.content[i].boardRegdate.substring(0, 10)}</td>
										<td class="list-date">${obj.pageItems.content[i].boardCnt}</td>
									</tr>
								`;
							}
							$("#list-table").children(":first").children().not(":first").remove();
							$("#list-table").children(":first").append(htmlstr);
							
							$("#boxxWrapper").html(htmlstr);
							
							htmlstr = "";
							
							let pageNumber = obj.pageItems.pageable.pageNumber;
							let pageSize = obj.pageItems.pageable.pageSize;
							let totalPages = obj.pageItems.totalPages;
							let startPage = Math.floor((pageNumber / pageSize) * pageSize + 1);
							let tempEndPage = startPage + pageSize - 1;
							let endPage = tempEndPage > totalPages ? totalPages : tempEndPage;
							
							console.log(pageNumber);
							console.log(pageSize);
							console.log(totalPages);
							console.log(startPage);
							console.log(tempEndPage);
							console.log(endPage);
							
							if(pageNumber > 0) {
								htmlstr += `
									<li class="pagination_button">
										<a style="border: 0px;" href="${pageNumber - 1}">&#60;</a>
									</li>
								`;
							}
							
							let realStart = totalPages - startPage < pageSize ? 
												totalPages < pageSize ? 1 : totalPages - pageSize + 1 
											: startPage;
							
							for(let i = realStart; i <= endPage; i++) {
								if(pageNumber == i-1) {
									htmlstr += `<li class="pagination_button">
											   	   <a class="present" href="${i - 1}">${i}</a>
										        </li>
									`;
								} else {
									htmlstr += `<li class="pagination_button">
											   	   <a href="${i - 1}">${i}</a>
										        </li>
									`;
								}
							}
							
							if(pageNumber < totalPages - 1) {
								htmlstr += `<li class="pagination_button">
										       <a style="border: 0px;" href="${pageNumber + 1}">&#62;</a>
									        </li>
								`;
							}
							
							$(".pagination").html(htmlstr);
							
						},
						error: function(e) {
							console.log(e);
							console.log($(e.target).attr("data-page-num"));
						}
					})
					/*.done(function(result) {
						$("#list-table").replaceWith(result);
					});*/
				});
			});
		</script>
	</th:block>
</head>
<body>
<div layout:fragment="content" style="height: 90%;">
	<div id="container">
	  <div id="high-nav">
	    <button id="notice-button">
	      공지사항
	    </button>
	  </div>
	  <div id="high-container">
	    <div id="mid-container">
	      <table id="list-table">
	        <tr>
	          <th width="73%" id="th-title">제목</th>
	          <th width="20%" id="th-date">작성일</th>
	          <th width="7%" id="th-cnt">조회수</th>
	        </tr>
	        <tr th:each="notice: ${getBoardList}" id="boxxWrapper" style="height: 40px;">
	          <td class="list-title">
	          	<a th:text="${notice.boardTitle}"
				   th:href="@{/board/updateNoticeCnt/{boardNo} (boardNo=${notice.boardNo})}">
				</a>
	          </td>
	          <td class="list-date" th:text="${notice.boardRegdate eq null ? '' : #strings.substring(notice.boardRegdate, 0, 10)}"></td>
	          <td class="list-date" th:text="${notice.boardCnt}"></td>
	        </tr>
	      </table>
	      <br/>
		  <div style="text-align:center;" class="paging">
			<ul class="pagination" style="display: flex; justify-content: center;" 
				th:if="${getBoardList.totalElements > 0}"
				th:with="pageNumber = ${getBoardList.pageable.pageNumber},
									pageSize = ${getBoardList.pageable.pageSize},
									totalPages = ${getBoardList.totalPages},
									startPage =${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
									tempEndPage = ${startPage + pageSize -1}, 
									endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
					<li class="pagination_button" th:if="${pageNumber > 0}">
						<a style="border: 0px;" th:href="${pageNumber - 1}"><</a>
					</li>
					<li class="pagination_button" th:each="page : ${#numbers.sequence(totalPages - startPage < pageSize ? (totalPages < pageSize ? 1 :totalPages - pageSize + 1) : startPage, endPage)}">
						<a th:href="${page - 1}" th:text="${page}"></a>
					</li>
					<li class="pagination_button" th:if="${pageNumber < totalPages - 1}">
						<a style="border: 0px;" th:href="${pageNumber + 1}">></a>
					</li>
				</ul>
			</div>
			<th:block sec:authorize="hasRole('ROLE_ADMIN')" th:remove="tag">
		      <div id="btn-container">
			    <a th:href='@{/board/notice/insertNotice/{cateCode} (cateCode=${cateCode})}' id="right-btn">등록</a>
			  </div>    
			</th:block>
	    </div>
	  </div>
	</div>
</div>
</body>
</html>