
<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/board/qnaList.css}"/>
	</th:block>
</head>
<body>
<div layout:fragment="content">
	<div id="container">
	  <div id="high-nav">
	    <button id="qna-button">
	      문의사항
	    </button>
	  </div>
	  <div id="high-container">
	    <h3 id="oft-qna-title">자주 묻는 질문</h3>
	    <div id="oft-qna-container">
	      <div class="oft-qna">
	        <div class="oft-qna-q">
	          Q. 오늘 주문한 상품은 언제 배송되나요?
	        </div>
	        <div class="oft-qna-a">
	          A. 영업일 기준 2~3일 내로 배송됩니다.
	        </div>
	      </div>
	      <div class="oft-qna">
	        <div class="oft-qna-q">
	          Q. 오늘 주문한 상품은 언제 배송되나요?
	        </div>
	        <div class="oft-qna-a">
	          A. 영업일 기준 2~3일 내로 배송됩니다.
	        </div>
	      </div>
	      <div class="oft-qna">
	        <div class="oft-qna-q">
	          Q. 오늘 주문한 상품은 언제 배송되나요?
	        </div>
	        <div class="oft-qna-a">
	          A. 영업일 기준 2~3일 내로 배송됩니다.
	        </div>
	      </div>
	    </div>
	    <div id="mid-nav">
	      <button id="dayclass-button" >
	        원데이클래스
	      </button>
	      <button id="item-button">
	        상품판매
	      </button>
	    </div>
	    <div id="mid-container">
	      <table id="list-table">
	        <tr>
	          <th width="50%" id="th-title">제목</th>
	          <th width="15%" id="th-writer">작성자</th>
	          <th width="15%" id="th-answer">답변여부</th>
	          <th width="20%" id="th-date">작성일</th>
	        </tr>
	        <tr th:each="qna: ${getQnaList}">
				<td class="list-title">
					<a th:text="${qna.boardTitle}"
					   th:href="@{/board/updateBoardCnt/{boardNo} (boardNo=${qna.boardNo})}">
					</a>
				</td>			
				<td class="list-writer" th:text="${qna.boardWriter}"></td>
				<td class="list-answer" th:text="${qna.boardReply eq null ? '답변대기' : '답변완료'}"></td>
				<td class="list-date" th:text="${qna.boardRegdate eq null ? '' : #strings.substring(qna.boardRegdate, 0, 10)}"></td>
			</tr>
	      </table>
	      <br/>
		  <div style="text-align:center;">
			<ul class="pagination" style="display: flex; justify-content: center;" 
				th:if="${getQnaList.totalElements > 0}"
				th:with="pageNumber = ${getQnaList.pageable.pageNumber},
									pageSize = ${getQnaList.pageable.pageSize},
									totalPages = ${getQnaList.totalPages},
									startPage =${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
									tempEndPage = ${startPage + pageSize -1}, 
									endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
					<li class="pagination_button" th:if="${pageNumber > 0}">
						<a th:href="@{/board/qna/1(
										page=${pageNumber - 1}
										)}"><</a>
					</li>
					<li class="pagination_button" th:each="page : ${#numbers.sequence(startPage, endPage)}">
						<a th:href="@{/board/qna/1(
										page=${page - 1},				
										)}" th:text="${page}"></a>
					</li>
					<li class="pagination_button" th:if="${pageNumber < totalPages - 1}">
						<a th:href="@{/board/qna/1(
										page=${pageNumber + 1},				
										)}">></a>
					</li>
				</ul>
			</div>
		  <!-- <th:block  th:if="${session.userId == 'admin'}">
	      <div id="btn-container">
		    <div id="right-btn">
		      <input type="button" id="insertQna" value="등록" onclick="">
		    </div>
		  </div>    
		  </th:block> -->
	    </div>
	  </div>
	</div>
</div>
</body>
</html>