<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head> <!-- Q&A 상세 페이지 -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/board/getBoard.css}"/>
	</th:block>
</head>
<body>
<div layout:fragment="content">
	<div id="container" style="height: 800px;">
	  <div id="high-nav">
	    <button id="qna-button" style="background-color: #28693F; color: white; ">
	      문의사항
	    </button>
	    <button id="notice-button">
	      공지사항
	    </button>
	    <button id="event-button">
	      이벤트
	    </button>
	  </div>
	  <div id="high-container">
	    <div id="mid-container">
	      <div id="question-title">
	        <h3 th:text="${getBoard.boardTitle}"></h3>
	      </div>
	      <div id="question-content">
	        <p th:text="${getBoard.boardContent}"></p>
	      </div>
	      <hr>
	      <th:block th:if="${getBoard.boardReply}">
		      <div id="answer-content" style="border: 1px solid red;">        
		        <p id="answer-text" th:text="${getBoard.boardReply}"></p>
		      </div>
	      </th:block>
	      <th:block th:unless="${getBoard.boardReply}">
	     	 <div id="answer-content">        
		        <p id="answer-text">
		        	답변없음
		        </p>
		      </div>
	      </th:block>
	      <div id="btn-container">
	        <div id="left-btn">
	          <input type="button" id="listbtn" value="목록">
	        </div>
	        <div id="right-btn">
	          <input type="submit" id="insertbtn" value="등록">
	        </div>
	      </div>      
	    </div>
	  </div>
	</div>
</div>
</body>
</html>