<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/board/boardList.css}"/>
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function() {		
				
				$(".present").on('click', function(e) {
					$(e.target).css("color", "white");
				})
						
				$(document).on("click", ".pagination_button a", function(e) {
					e.preventDefault();
					$.ajax({
						url: '/board/qnaList/1',
						type: 'post',
						data: {	
							page: $(this).attr("href")
						},
						success: function(obj) {
							console.log(obj);
							
							let htmlstr = "";
							
							for(let i=0; i<obj.pageItems.content.length; i++) {
								htmlstr += `
									<tr>
										<td class="list-title">
											<a href="/board/updateQnaCnt/${obj.pageItems.content[i].boardNo}">
											${obj.pageItems.content[i].boardTitle}
											</a>
										</td>			
										<td class="list-writer">${obj.pageItems.content[i].boardWriter}</td>
										<td class="list-answer">${obj.pageItems.content[i].boardReply == null ? '답변대기' : '답변완료'}</td>
										<td class="list-date">${obj.pageItems.content[i].boardRegdate == null ? '' : obj.pageItems.content[i].boardRegdate.substring(0, 10)}</td>
										<td class="list-cnt">${obj.pageItems.content[i].boardCnt}</td>
									</tr>
								`;
							}
							$("#list-table").children(":first").children().not(":first").remove();
							$("#list-table").children(":first").append(htmlstr);
							
							$("#boxxWrapper").html(htmlstr);
							
							htmlstr = "";
							
							let pageNumber = obj.pageItems.pageable.pageNumber;
							let pageSize = obj.pageItems.pageable.pageSize;
							let totalPages = obj.pageItems.totalPages;
							let startPage = Math.floor((pageNumber / pageSize) * pageSize + 1);
							let tempEndPage = startPage + pageSize - 1;
							let endPage = tempEndPage > totalPages ? totalPages : tempEndPage;
							
							console.log(pageNumber);
							console.log(pageSize);
							console.log(totalPages);
							console.log(startPage);
							console.log(tempEndPage);
							console.log(endPage);
							
							if(pageNumber > 0) {
								htmlstr += `
									<li class="pagination_button">
										<a style="border: 0px;" href="${pageNumber - 1}">&#60;</a>
									</li>
								`;
							}
							
							let realStart = totalPages - startPage < pageSize ? 
												totalPages < pageSize ? 1 : totalPages - pageSize + 1 
											: startPage;
							
							for(let i = realStart; i <= endPage; i++) {
								if(pageNumber == i-1) {
									htmlstr += `<li class="pagination_button">
											   	   <a class="present" href="${i - 1}">${i}</a>
										        </li>
									`;
								} else {
									htmlstr += `<li class="pagination_button">
											   	   <a href="${i - 1}">${i}</a>
										        </li>
									`;
								}
							}
							
							if(pageNumber < totalPages - 1) {
								htmlstr += `<li class="pagination_button">
										       <a style="border: 0px;" href="${pageNumber + 1}">&#62;</a>
									        </li>
								`;
							}
							
							$(".pagination").html(htmlstr);
							
						
						},
						error: function(e) {
							console.log(e);
							console.log($(e.target).attr("data-page-num"));
						}
					})
					/*.done(function(result) {
						$("#list-table").replaceWith(result);
					});*/
				});
				
				$("#dayclass-button").on("click", function(e) {
					$("#dayclass-button").css("color", "white").css("background", "#28693F");
					$("#item-button").css("color", "#28693F").css("background", "white").css("border", "1px solid #28693F");
					e.preventDefault();
					$.ajax({
						url: '/board/qnaList/1',
						type: 'post',
						data: {	page: $(e.target).attr("data-page-num")},
						success: function(obj) {
							console.log(obj);
							
							let htmlstr = "";
							
							for(let i=0; i<obj.pageItems.content.length; i++) {
								htmlstr += `
									<tr>
										<td class="list-title">
											<a href="/board/updateQnaCnt/${obj.pageItems.content[i].boardNo}">
											${obj.pageItems.content[i].boardTitle}
											</a>
										</td>			
										<td class="list-writer">${obj.pageItems.content[i].boardWriter}</td>
										<td class="list-answer">${obj.pageItems.content[i].boardReply == null ? '답변대기' : '답변완료'}</td>
										<td class="list-date">${obj.pageItems.content[i].boardRegdate == null ? '' : obj.pageItems.content[i].boardRegdate.substring(0, 10)}</td>
										<td class="list-cnt">${obj.pageItems.content[i].boardCnt}</td>
									</tr>
								`;
							}
							$("#list-table").children(":first").children().not(":first").remove();
							$("#list-table").children(":first").append(htmlstr);
							
							$("#boxxWrapper").html(htmlstr);
							
							htmlstr = "";
							
							let pageNumber = obj.pageItems.pageable.pageNumber;
							let pageSize = obj.pageItems.pageable.pageSize;
							let totalPages = obj.pageItems.totalPages;
							let startPage = Math.floor((pageNumber / pageSize) * pageSize + 1);
							let tempEndPage = startPage + pageSize - 1;
							let endPage = tempEndPage > totalPages ? totalPages : tempEndPage;
							
							console.log(pageNumber);
							console.log(pageSize);
							console.log(totalPages);
							console.log(startPage);
							console.log(tempEndPage);
							console.log(endPage);
							
							if(pageNumber > 0) {
								htmlstr += `
									<li class="pagination_button">
										<a style="border: 0px;" href="${pageNumber - 1}">&#60;</a>
									</li>
								`;
							}
							
							let realStart = totalPages - startPage < pageSize ? 
												totalPages < pageSize ? 1 : totalPages - pageSize + 1 
											: startPage;
							
							for(let i = realStart; i <= endPage; i++) {
								if(pageNumber == i-1) {
									htmlstr += `<li class="pagination_button">
											   	   <a class="present" href="${i - 1}">${i}</a>
										        </li>
									`;
								} else {
									htmlstr += `<li class="pagination_button">
											   	   <a href="${i - 1}">${i}</a>
										        </li>
									`;
								}
							}
							
							if(pageNumber < totalPages - 1) {
								htmlstr += `<li class="pagination_button">
										       <a style="border: 0px;" href="${pageNumber + 1}">&#62;</a>
									        </li>
								`;
							}
							
							$(".pagination").html(htmlstr);
							
						},
						error: function(e) {
							console.log(e);
							console.log($(e.target).attr("data-page-num"));
						}
					})
					/*.done(function(result) {
						$("#list-table").replaceWith(result);
					});*/
				});
				
				$("#item-button").on("click", function(e) {
					
					$("#dayclass-button").css("color", "#28693F").css("background", "white").css("border", "1px solid #28693F");
					$("#item-button").css("color", "white").css("background", "#28693F");
					
					e.preventDefault();
					
					$.ajax({
						url: '/board/qnaList/2',
						type: 'post',
						data: {	
							page: $(e.target).attr("data-page-num"),
						},
						success: function(obj) {
							console.log(obj);
							
							let htmlstr = "";
							
							for(let i=0; i<obj.pageItems.content.length; i++) {
								htmlstr += `
									<tr>
										<td class="list-title">
											<a href="/board/updateQnaCnt/${obj.pageItems.content[i].boardNo}">
											${obj.pageItems.content[i].boardTitle}
											</a>
										</td>			
										<td class="list-writer">${obj.pageItems.content[i].boardWriter}</td>
										<td class="list-answer">${obj.pageItems.content[i].boardReply == null ? '답변대기' : '답변완료'}</td>
										<td class="list-date">${obj.pageItems.content[i].boardRegdate == null ? '' : obj.pageItems.content[i].boardRegdate.substring(0, 10)}</td>
										<td class="list-cnt">${obj.pageItems.content[i].boardCnt}</td>
									</tr>
								`;
							}
							$("#list-table").children(":first").children().not(":first").remove();
							$("#list-table").children(":first").append(htmlstr);
							
							$("#boxxWrapper").html(htmlstr);
							
							htmlstr = "";
							
							let pageNumber = obj.pageItems.pageable.pageNumber;
							let pageSize = obj.pageItems.pageable.pageSize;
							let totalPages = obj.pageItems.totalPages;
							let startPage = Math.floor((pageNumber / pageSize) * pageSize + 1);
							let tempEndPage = startPage + pageSize - 1;
							let endPage = tempEndPage > totalPages ? totalPages : tempEndPage;
							
							console.log(pageNumber);
							console.log(pageSize);
							console.log(totalPages);
							console.log(startPage);
							console.log(tempEndPage);
							console.log(endPage);
							
							if(pageNumber > 0) {
								htmlstr += `
									<li class="pagination_button">
										<a style="border: 0px;" href="${pageNumber - 1}">&#60;</a>
									</li>
								`;
							}
							
							let realStart = totalPages - startPage < pageSize ? 
												totalPages < pageSize ? 1 : totalPages - pageSize + 1 
											: startPage;
							
							for(let i = realStart; i <= endPage; i++) {
								if(pageNumber == i-1) {
									htmlstr += `<li class="pagination_button">
											   	   <a class="present" href="${i - 1}">${i}</a>
										        </li>
									`;
								} else {
									htmlstr += `<li class="pagination_button">
											   	   <a href="${i - 1}">${i}</a>
										        </li>
									`;
								}
							}
							
							if(pageNumber < totalPages - 1) {
								htmlstr += `<li class="pagination_button">
										       <a style="border: 0px;" href="${pageNumber + 1}">&#62;</a>
									        </li>
								`;
							}
							
							$(".pagination").html(htmlstr);
							
						},
						error: function(e) {
							console.log(e);
							console.log($(e.target).attr("data-page-num"));
						}
					})
					/*.done(function(result) {
						$("#list-table").replaceWith(result);
					});*/
				});
			});
		</script>
	</th:block>
</head>
<body>
<div layout:fragment="content">
	<div id="container">
	  <div id="high-nav">
	    <button id="qna-button">
	      문의사항
	    </button>
	  </div>
	  <div id="high-container">
	    <h3 id="oft-qna-title">자주 묻는 질문</h3>
	    <div id="oft-qna-container">
	      <div class="oft-qna" th:each="faq: ${getFaqList}">
	      	<div class="oft-qna-q">
	      	  <h4 th:text="${faq.boardTitle}"></h4>
	          <p th:text="${faq.boardContent}"></p>
	        </div>
	        <div class="oft-qna-a">
	          <p th:text="${faq.boardReply}"></p>
	        </div>
	      </div>
	    </div>
	    <div id="mid-nav">
	      <button id="dayclass-button" >
	        원데이클래스
	      </button>
	      <button id="item-button">
	        상품판매
	      </button>
	    </div>
	    <div id="mid-container">
	      <table id="list-table">
	        <tr>
	          <th width="48%" id="th-title">제목</th>
	          <th width="15%" id="th-writer">작성자</th>
	          <th width="15%" id="th-answer">답변여부</th>
	          <th width="15%" id="th-date">작성일</th>
	          <th width="7%" id="th-cnt">조회수</th>
	        </tr>
	        <tr th:each="qna: ${getQnaList}" id="boxxWrapper" style="height: 40px;">
				<td class="list-title">
					<a th:text="${qna.boardTitle}"
					   th:href="@{/board/updateQnaCnt/{boardNo} (boardNo=${qna.boardNo})}">
					</a>
				</td>			
				<td class="list-writer" th:text="${qna.boardWriter}"></td>
				<td class="list-answer" th:text="${qna.boardReply eq null ? '답변대기' : '답변완료'}"></td>
				<td class="list-date" th:text="${qna.boardRegdate eq null ? '' : #strings.substring(qna.boardRegdate, 0, 10)}"></td>
				<td class="list-cnt" th:text="${qna.boardCnt}"></td>
			</tr>
	      </table>
	      <br/>
		  <div style="text-align:center;" class="paging">
				<ul class="pagination" style="display: flex; justify-content: center;" 
								th:if="${getQnaList.totalElements > 0}"
								th:with="pageNumber = ${getQnaList.pageable.pageNumber},
										pageSize = ${getQnaList.pageable.pageSize},
										totalPages = ${getQnaList.totalPages},
										startPage =${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
										tempEndPage = ${startPage + pageSize -1}, 
										endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
				<li class="pagination_button" th:if="${pageNumber > 0}">
					<a style="border: 0px;" th:href="${pageNumber - 1}"><</a>
				</li>
				<li class="pagination_button" th:each="page : ${#numbers.sequence(totalPages - startPage < pageSize ? (totalPages < pageSize ? 1 :totalPages - pageSize + 1) : startPage, endPage)}">
					<a th:href="${page - 1}" th:text="${page}"></a>
				</li>
				<li class="pagination_button" th:if="${pageNumber < totalPages - 1}">
					<a style="border: 0px;" th:href="${pageNumber + 1}">></a>
				</li>
			  </ul>
		  </div>
		  <th:block sec:authorize="hasRole('ROLE_USER')" th:remove="tag">
	      <div id="btn-container">
		    <a th:href='@{/board/qna/insertQna/{cateCode} (cateCode=${cateCode})}' id="right-btn">등록</a>
		  </div>    
		  </th:block>
	    </div>
	  </div>
	</div>
</div>
</body>
</html>