<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
  <th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/board/insertBoard.css}"/>
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function() {
				
			});
		</script>			
  </th:block>
</head>
<body>
<div layout:fragment="content">
	<div id="container" style="margin-bottom: 100px;">
	  <div id="high-container">
	    <div id="mid-container">
	    <form id="insertBoard" th:action="@{/board/board/{cateCode}/{boardNo} (cateCode=${cateCode}, boardNo=${getBoard.boardNo})}" method="post" enctype="multipart/form-data">
	      <div id="title-container">
	        <h3>제목</h3>
	        <input type="text" id="inputtitle" name="boardTitle" th:value="${getBoard.boardTitle}"/>
	      </div>
	      <div id="content-container">
	        <textarea name="boardContent" id="boardContent" cols="30" rows="10" th:text="${getBoard.boardContent}"></textarea>
	      </div>
	      <div id="btn-container">
	        <div id="left-btn">
	          <input type="button" id="listbtn" value="목록" onclick="history.go(-2)">
	        </div>
	        <div id="right-btn">
	          <input type="submit" id="insertbtn" value="등록">
	        </div>
	      </div>      
	    </div>
	  </div>
	</div>
</div>
</body>
</html>