<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
				$(function(){
					const itemCateVal = /*[[${itemCate}]]*/;
					if(itemCateVal != null && itemCateVal != "") {
						$("#itemCate").css("border-bottom-color", "red");
					}
					
		      	  const itemList = /*[[${itemList}]]*/;
		      	  //console.log(itemList);
			      $("#more").click(function(e){
					  console.log($("#itemCate").val());
					  $.ajax({
						  url:"/item/list",
						  type: "post",
						  data: {
							  searchKeyword: $("#searchKeyword").val(),
							  page: $(".card").parent().length/4,
							  itemCate: $("#itemCate").val()
						  },
						  success: function(obj) {
							  let htmlStr = "";
							  //console.log(obj.pageItems.content);
							  for(let i = 0; i < obj.pageItems.content.length; i++) {
						        htmlStr += 
						        `
						          <div>
							          <div class="item-box">
							            <div class="card">
							              <img src="/item/${obj.pageItems.content[i].fileName}" alt="NoImg" class="card_img">
							            </div>`
							            if(obj.pageItems.content[i].itemStatus == 'S' || obj.pageItems.content[i].itemStock == 0){
											htmlStr +=
											`
											<div class="sold_out">
								            	<p>임시품절</p>
							            	</div>
											`
										} else if(obj.pageItems.content[i].itemStatus == 'N') {
											htmlStr +=
											`
											<div class="sold_out">
								            	<p>판매중지</p>
							            	</div>
											`
										}
										const price = obj.pageItems.content[i].itemPrice + '';
										const commaPrice = price.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
										htmlStr +=
							          `</div>
						              <div class="text">
						                <h3><a href="/item/item/${obj.pageItems.content[i].itemNo}">${obj.pageItems.content[i].itemName}</a></h3>
						                <span>${commaPrice}</span><span>원</span>
						              </div>
						          </div>
						        `;
							  }
							  $("#prod").append(htmlStr);
							  
							  console.log(obj.pageItems);
							  if(obj.pageItems.totalElements == $(".card").parent().length) {
								  $('#more').hide();
							  }
						  },
						  error: function(e) {
							  console.log(e);
						  }
					  })
			      });
				
				$("#itemCate").on("change", function() {
					$("#cateForm").submit();
				});
				
			    $("#cateForm").on("submit", function() {
					$("#page").val(0);
				});
				
		    });
		    
		    //탑버튼
		    $(window).scroll(function() {
		      if ($(this).scrollTop() > 10) {
		      	$('#topBtn').fadeIn();
		        } else {
		        $('#topBtn').fadeOut();
		      }
		     });
		     $("#topBtn").click(function() {   
		     $('html, body').animate({
		       scrollTop : 0
		      }, 10);
		      return false;
		     });
		</script>
	</th:block>
	<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/list/list.css}"/>
	</th:block>
</head>

<body>
	<div layout:fragment="content" style="min-height: 100%;">
	  <main class="centre">
	    <nav>
		    <form action="/item/list" id="cateForm" method="get">
		    	<input type="hidden" name="page" id="page">
			    <div id="sub-navbar" class="sub-navbar"> 
			      <select name="itemCate" id="itemCate">
			      	<option value="ALL" th:selected="${itemCate == 'ALL' || itemCate == '' || itemCate == null}">전체</option>
			      	<option value="빵" th:selected="${itemCate == '빵'}">빵</option>
			      	<option value="케이크" th:selected="${itemCate == '케이크'}">케이크</option>
			      	<option value="쿠키" th:selected="${itemCate == '쿠키'}">쿠키</option>
			      	<option value="비건" th:selected="${itemCate == '비건'}">비건</option>
			      	<option value="디저트" th:selected="${itemCate == '디저트'}">디저트</option>
			      </select>
				</div>
		    </form>
	    </nav>
	    <div id="prod">
	      <div th:each="item : ${itemList}">
	      	<div class="item-box">
		        <div class="card">
		          <img th:src="@{'/item/' + ${item.fileName}}" alt="NoImg" class="card_img">
		        </div>
		          <div th:if="${item.itemStatus == 'S' || item.itemStock == 0}" class="sold_out">
		              <p>임시품절</p>
	              </div>
	              <div th:if="${item.itemStatus} == 'N'" class="no_item">
		              <p>판매중지</p>
		          </div>
	      	</div>
	        <div class="text">
	          <h3><a th:href="@{/item/item/{itemNo} (itemNo=${item.itemNo})}" th:text="${item.itemName}"></a></h3>
	          <span th:text="${#numbers.formatInteger(item.itemPrice, 3, 'COMMA')}"></span><span>원</span>
	        </div>
      	  </div>
    	</div>
    	<div id="more_btn">
		    <div id="more" th:if="${listCnt} > 8">
		      <button type="button" id="show-more" class="show-more">더보기+</button>
		    </div>
    	</div>
	    <a id="topBtn" href="#">
           <img src="https://widit2.knu.ac.kr/~kiyang/teaching/IT/stPrj/happydpqhs/jam/%ED%83%91%EB%B2%84%ED%8A%BC.png"
           style="width:2.5rem; height:2.5rem">
        </a>
  		</main>
	</div>
</body>
</html>