<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
				$(function(){
		      	  let htmlStr = "";
		      	  const itemList = /*[[${itemList}]]*/;
		      	  
			      $("#more").click(function(e){
					  console.log(content[i])
					  $.ajax({
						  url:"/item/list",
						  type: "post",
						  data: {
							  searchKeyword: $("#searchKeyword").val(),
							  page: itemList.pageable.pageNum + 1
						  },
						  success: function(obj) {
							  for(let i = 0; i < obj.pageItems.content.length; i++) {
						        htmlStr += 
						        `
						          <div id="prod">
						            <div class="card">
						              <img src="https://photo.coolenjoy.co.kr/data/editor/2106/f1cf6e8bf704135d4bedac720a1d71153ba524c8.jpg" class="card_img">
						            </div>
						            <div class="text">
						              <h3><a href="{/item/item/${obj.pageItems.content[i].itemNo}}">${obj.pageItems.content[i].itemName}</a></h3>
						              <span>${obj.pageItems.content[i].itemPrice}</span><span>원</span>
						            </div>
						          </div>
						        `;
								  
							  }
							  $("#prod").append(htmlStr);
						  },
						  error: function(e) {
							  console.log(e);
						  }
					  })
			      });
		    });
		</script>
	</th:block>
	<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/list/list.css}"/>
	</th:block>
</head>

<body>
	<div layout:fragment="content">
	  <main class="centre">
	    <div class="search">
	      <input type="text" id="searchKeyword" class="search-bar" placeholder="검색어 입력">
	      <a><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" id="search-icon"></a>
	    </div>
	    <nav class="sub-navbar">
	      <a href="#">빵</a>
	      <a href="#">케이크</a>
	      <a href="#">쿠키</a>
	      <a href="#">비건</a>
	      <a href="#">디저트</a>
	      <a href="#">sub-nav6</a>
	      <a href="#">sub-nav7</a>
	      <a href="#">sub-nav8</a>
	    </nav>
	    <div id="prod">
	      <div th:each="item : ${itemList}">
	        <div class="card">
	          <img th:src="@{'/item/' + ${item.fileName}}" alt="NoImg" class="card_img">
	        </div>
	        <div class="text">
	          <h3><a th:href="@{/item/item/{itemNo} (itemNo=${item.itemNo})}" th:text="${item.itemName}"></a></h3>
	          <span th:text="${item.itemPrice}"></span><span>원</span>
	        </div>
      	  </div>
    	</div>
	    <div id="more">
	      <!-- <a href="/footer">더보기+</a> -->
	      <button type="button" class="show-more">더보기+</button>
	    </div>
  		</main>
	</div>
</body>
</html>