<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
				$(function(){
		      $("#prod").slice(0, 7).show();
		      $("#more").click(function(e){
		        let htmlStr = `
		          <div>
		          <div class="card">
		            <img src="http://res.heraldm.com/content/image/2020/04/29/20200429000197_0.jpg" class="card_img">
		          </div>
		          <div class="text">
		            <h3>제목</h3>
		            <p>가격</p>
		          </div>
		          </div>
		          <div>
		            <div class="card">
		              <img src="https://photo.coolenjoy.co.kr/data/editor/2106/f1cf6e8bf704135d4bedac720a1d71153ba524c8.jpg" class="card_img">
		            </div>
		            <div class="text">
		              <h3>제목</h3>
		              <p>가격</p>
		            </div>
		          </div>
		        `;
		        for(let i = 0; i < 2; i++) {
		          $("#prod").append(htmlStr);
		
		        }
		      });
		    });
		</script>
	</th:block>
	<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/list/list.css}"/>
	</th:block>
</head>

<body>
	<div layout:fragment="content">
	  <main class="centre">
	    <div class="search">
	      <input type="text" class="search-bar" placeholder="검색어 입력">
	      <a><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" id="search-icon"></a>
	    </div>
	    <nav class="sub-navbar">
	      <a href="#">sub-nav1</a>
	      <a href="#">sub-nav2</a>
	      <a href="#">sub-nav3</a>
	      <a href="#">sub-nav4</a>
	      <a href="#">sub-nav5</a>
	      <a href="#">sub-nav6</a>
	      <a href="#">sub-nav7</a>
	      <a href="#">sub-nav8</a>
	    </nav>
	    <div id="prod">
      <div>
        <div class="card">
          <img src="http://res.heraldm.com/content/image/2020/04/29/20200429000197_0.jpg" class="card_img">
        </div>
        <div class="text">
          <h3>제목</h3>
          <p>가격</p>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="https://photo.coolenjoy.co.kr/data/editor/2106/f1cf6e8bf704135d4bedac720a1d71153ba524c8.jpg" class="card_img">
        </div>
        <div class="text">
          <h3>제목</h3>
          <p>가격</p>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="http://res.heraldm.com/content/image/2020/04/29/20200429000197_0.jpg" class="card_img">
        </div>
        <div class="text">
          <h3>제목</h3>
          <p>가격</p>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="https://photo.coolenjoy.co.kr/data/editor/2106/f1cf6e8bf704135d4bedac720a1d71153ba524c8.jpg" class="card_img">
        </div>
        <div class="text">
          <h3>제목</h3>
          <p>가격</p>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="http://res.heraldm.com/content/image/2020/04/29/20200429000197_0.jpg" class="card_img">
        </div>
        <div class="text">
          <h3>제목</h3>
          <p>가격</p>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="https://photo.coolenjoy.co.kr/data/editor/2106/f1cf6e8bf704135d4bedac720a1d71153ba524c8.jpg" class="card_img">
        </div>
        <div class="text">
          <h3>제목</h3>
          <p>가격</p>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="http://res.heraldm.com/content/image/2020/04/29/20200429000197_0.jpg" class="card_img">
        </div>
        <div class="text">
          <h3>제목</h3>
          <p>가격</p>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="https://photo.coolenjoy.co.kr/data/editor/2106/f1cf6e8bf704135d4bedac720a1d71153ba524c8.jpg" class="card_img">
        </div>
        <div class="text">
          <h3>제목</h3>
          <p>가격</p>
        </div>
      </div>
    </div>
	    <div id="more">
	      <!-- <a href="/footer">더보기+</a> -->
	      <button class="show-more">더보기+</button>
	    </div>
  		</main>
	</div>
</body>
</html>