<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		
		</script>
	</th:block>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/user/findID.css}"/>
	</th:block>
</head>

<body>
	<div layout:fragment="content" class="container">
		<main>
		    <div class="c1">
		      <form action="" class="form" method="post">
		        <h3>아이디 찾기</h3>
		        <input type="text" placeholder="이름" class="box">
		        <input type="password" placeholder="핸드폰번호" class="box">
		        <a th:href="@{/user/findPW}" class="findPw">비밀번호찾기</a>
		        <input type="submit" value="확인" class="btn2 size">
		        <div class="buttons">
		          <a href="#" class="btn2 login2">로그인</a>
		        </div>
		      </form>
		    </div>
		  </main>
	</div>
</body>
</html>