<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
	
		<th:block layout:fragment="script">
			<!-- 우편 -->
			<script th:src="@{https://unpkg.com/swiper@7/swiper-bundle.min.js}"></script>
  			<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
			<script th:inline="javascript">
				$(function() {
					let checkId = false;
					let userPw = false;
					let pwRecheck = false;
					let name = false;
					let birth = false;
					let gender = false;
					let tel = false;
					let mail = false;
					let addr3 = false;
					
					$('#userGender option:selected').val();
					$('#userGender option:selected').text();
					
					$("#IdCheck").on("click", function() {
						$.ajax({
							url: "/user/idcheck",
							type: "post",
							data: $("#joinForm").serialize(),
							success: function(obj) {
								console.log(obj);
								
								if(obj.item.msg == 'duplicatedId') {
									alert("중복된 아이디입니다.");
									$("#userId").focus();
								} else {
									if(confirm("사용가능한 아이디입니다. " + $("#userId").val() + "를(을) 사용하시겠습니까?")) {
										checkId = true;
										$("#IdCheck").attr("disabled", true);
									}
								}
							},
							error: function(e) {
								console.log(e);
							}
						})
					});
					
					
					$("#userId").on("change", function() {
						checkId = false;
						$("#IdCheck").attr("disabled", false);
					});
					
						
					$("#userPw").on("keyup", function(e) {
				        let password = document.querySelector('#userPw').value;
				        
				        let strength = Strength(password);
				        if(strength <= 2) {
				          $(".pw-check").addClass('weak');
				          $(".pw-check").removeClass('strong');
				        } else {
				          $(".pw-check").removeClass('weak');
				          $(".pw-check").addClass('strong');
				        }
				    });
				     
				      
					//비밀번호 입력될때마다 유효성 검사
					$("#userPw").on("change", function() {
						//비밀번호 유효성 처리
						if(!Strength($("#userPw").val())) {
							userPw = false;
							$("#userPwCheck").hide();
							$("#userPw").focus();
						} else {
							userPw = true;
							$("#userPwCheck").show();
						}
						
						//비밀번호 확인까지 입력한 후 다시 비밀번호 재설정
						if($("#userPw").val() == $("#userPwCheck").val()) {
							userPwCheck = true;
							$("#pwRecheck").css("color", "#0f0");
							$("#pwRecheck").text("비밀번호가 일치합니다.");
						} else {
							userPwCheck = false;
							$("#pwRecheck").css("color", "#f00");
							$("#pwRecheck").text("비밀번호가 일치하지 않습니다.");
						}
					 });
  
					$("#userPwCheck").on("change", function() {
						$("#pwRecheck").show();
					    if($("#userPw").val() == $("#userPwCheck").val()) {
					      pwRecheck = true;
					      $(".check2").addClass('right1');
				          $(".check2").removeClass('wrong1');
					      $("#pwRecheck").css("color", "#0f0");
					      $("#pwRecheck").text("비밀번호가 일치합니다.");
						} else {
					      pwRecheck = false;
					      $(".check2").removeClass('right1');
				          $(".check2").addClass('wrong1');
					      $("#pwRecheck").css("color", "#f00");
					      $("#pwRecheck").text("비밀번호가 일치하지 않습니다.");
					    }
					});
				    //이름 유효성
			        $("#userNm").on("change", function() {
						if(!userName($("#userNm").val())) {
							name = false;
							$("#userNm").focus();
						} else {
							name = true;
						}
					});
					//생일 유효성
					$("#userBirth").on("change", function() {
						if(!userBirth($("#userBirth").val())) {
							birth = false;
							$("#userBirth").focus();
						} else {
							birth = true;
						}
					});
					//번호 유효성
					$("#userTel").on("change", function() {
						if(!userTel($("#userTel").val())) {
							tel = false;
							$("#userTel").focus();
						} else {
							tel = true;
						}
					});
					//이메일 유효성
					if($("#userMail").val() == "" || $("#userMail").val() == null) {
						$("#userMail").on("change", function() {
							if(!userMail($("#userMail").val())) {
								mail = false;
								$("#userMail").focus();
							} else {
								mail = true;
							}
						});
					} else {
						if(!userMail($("#userMail").val())) {
							mail = false;
							$("#userMail").focus();
						} else {
							mail = true;
						}
					}
					
					function Strength(password) {
				        let i = 0;
				        if(password.length > 5) {
				          i++;
				        }
				        if(password.length = 15) {
				          i++;
				        }
				        if(/^(?=.*[a-zA-Z])(?=.*[!@#$%^&*+=-])(?=.*[0-9]).{6,15}$/.test(password)) {
							i++;
						}
				        return i;
			        }
			        //이름
			        function userName(name) {
						return /^[a-zA-Zㄱ-힣]$/.test(name);
					}
			        //생일
			        function userBirth(birth) {
			        	return /^(19|20)\d{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[0-1])$/.test(birth); 
			        	//return true;
					}
			        //핸드폰번호
			        function userTel(tel){
						return /^(010)[0-9]{3,4}[0-9]{4}$/.test(tel);
					}
					//이메일
					function userMail(character) {
						return /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/.test(character);
					}
				      
				      
			      	$("#joinForm").on("submit", function(e) {
						e.preventDefault();
						if(!checkId) {
							alert("중복체크를 눌러주세요.");
							$("#userId").focus();
							return;
						}
						if(!userPw) {
							alert("비밀번호를 다시 입력해주세요.");
							$("#userPw").focus();
							return;
						}
						if(!pwRecheck) {
							alert("비밀번호가 일치하지 않습니다.");
							$("#userPwCheck").focus();
							return;
						}
						if(!birth) {
							alert("생년월일을 입력해주세요.");
							$("#userBirth").focus();
							return;
						}
						if(!tel) {
							alert("전화번호를 입력해주세요.");
							$("#userTel").focus();
							return;
						}
						if(!mail) {
							alert("이메일을 입력해주세요.");
							$("#userMail").focus();
							return;
						}
						
						
						$.ajax({
							url: '/user/join',
							type: 'post',
							data: $("#joinForm").serialize(),
							success: function(obj) {
								console.log(obj);
								if(obj.item.joinMsg == 'joinSuccess') {
									alert("회원가입이 완료되었습니다.");
									window.location.href="/main/main?msg=" + obj.item.joinMsg;
								} else {
									alert("회원가입에 실패하셨습니다. 다시 입력해주세요.");
									return;
								}
							},
							error: function(e) {
								console.log(e)
							}
						})
					});
				});
				
					
				//작동
			    function findAddr(){
			      new daum.Postcode({
			        oncomplete: function(data) {
			          let addr1 = data.roadAddress;
			          let addr2 = data.jibunAddress;
			          document.getElementById('post').value = data.zonecode;
			          if(addr1 !== ''){
			          document.getElementById("addr").value = addr1;
			          } else if(addr2 !== '') {
			            document.getElementById("userAddr3").value = addr2;
			          }
			        }
			      }).open();
			    }
			    
			    function fnPwShow(div) {
					let pswrd = document.querySelector('#userPw');
			        if(pswrd.type === 'password') {
			          pswrd.setAttribute('type', 'text');
			          div.classList.replace('show', 'hide');
			        }
			        else {
			          pswrd.setAttribute('type', 'password');
			          div.classList.replace('hide', 'show');
			        }
				}
			</script>
		</th:block>
		
		<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/user/join.css}"/>
		</th:block>
	</head>
	<!-- name dto랑 맞추기 -->
	<body>
		<div layout:fragment="content" style="height:100%">
		  <main style="margin-top: 4.5rem;">
		    <div class="c1">
		      <form action="/user/join" id="joinForm" class="form" method="post">
		        <h3>회원가입</h3>
		        <div style="display: flex;">
		          <input type="text" placeholder="아이디" class="box" id="userId" name="userId" minlength="3" th:value="${socialUser != null ? socialUser.userId : ''}" style="width: 70%;">
		          <button type="button" id="IdCheck" class="check">중복체크</button>
		        </div>
		
		        <div class="pw-check">
		          <div class="inputBox light">
		            <input type="password" id="userPw" name="userPw" required class="input" placeholder="비밀번호"><label for="userPw" class="input-label"></label>
		            <div id="show" class="show" onclick="fnPwShow(this);"></div>
		          </div>
		          <div class="check-light"></div>
		        </div>
		
		        <div class=" check2">
		          <div class="inputBox light">
		            <input type="password" id="userPwCheck" name="userPwCheck" required class="input" placeholder="비밀번호확인" style="margin-top: 12px;"><label for="userPwCheck" class="input-label"></label>
		          </div>
		          <div class="check-light"></div>
		          <p id="pwRecheck" style="font-size: 12px; font-weight: bolder; margin-left: 5px; text-align: left;"></p>
		        </div>
		
		        <input type="text" id="userName" name="userName" placeholder="이름" class="box" required>
		        <input type="text" id="userBirth" name="userBirth" placeholder="생년월일 ex)19901010" class="box" maxlength="8">
		        <select id="userGender" name="userGender" class="box" required>
		          <option value="" selected disabled>성별</option>
		          <option value="m">남자</option>
		          <option value="f">여자</option>
		          <option value="n">선택 안함</option>
		        </select>
		        <input type="text" id="userTel" name="userTel" placeholder="전화번호 ex)01012345678" class="box" maxlength="11">
		        <input type="text" id="userMail" name="userMail" placeholder="이메일 ex)xxx@xxx.com" th:value="${socialUser != null ? socialUser.userMail : ''}" class="box">
		        <input id="post"  name="userAddr1" type="text" value="우편번호" readonly onclick="findAddr()" required>
		        <input id="addr" name="userAddr2" type="text" placeholder="주소" readonly required>
		        <input id="userAddr3" name="userAddr3" type="text" placeholder="상세주소" required>
		        <input type="submit" value="가입하기" class="btn2 size">
		      </form>
		    </div>
		  </main>
		</div>
	</body>
</html>