<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<head th:fragment="config">
		<title>MakingBaking</title>
		<meta charset="UTF-8"/>
		<link rel="website icon" type="png" th:href="@{/images/MB.png}"/>
		
		<!-- 모든 페이지에서 사용할 공통 css링크 -->
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
		<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">
		
		<!-- 현재 페이지 내에서 개별적으로 사용할 css링크 -->
		<th:block layout:fragment="css"></th:block>
		
		<!-- 모든 페이지에서 사용할 공통 js링크 -->
		<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
		<script th:src="@{/js/login.js}"></script>
		<script th:src="@{https://kit.fontawesome.com/8b1a7defce.js}" th:crossorigin="@{anonymous}"></script>
		<!-- 현재 페이지 내에서 개별적으로 사용할 js링크 -->
		<th:block layout:fragment="script"></th:block>
	</head>
	<!-- head 영역 끝 -->
</html>