<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
			
	<body>
		<footer th:fragment="footer" class="footer">
			<div class="footer_ct">
				<div class="footer-log">
			      <img th:src="@{/images/logo.png}" style="width: 100px; margin-left:-1rem;">
			    </div>
			    <div class="ft">
			      <div style="font-size: 14px; margin-left:-5rem;">
			        <div id="footer-p">예금주: 메이킹베이킹</div>
			        <div id="footer-p">이젠은행 0507-1305-6509</div>
			      </div>
			    </div>
			</div>
		    <!--<div class="footer-log">
		      <img th:src="@{/images/logo.png}" style="width: 100px; margin-left:-1rem;">
		    </div>
		    <div class="ft">
		      <div style="font-size: 14px; margin-top: 1.5rem; margin-left:-1rem;">
		        <div id="footer-p">예금주: 메이킹베이킹</div>
		        <div id="footer-p">이젠은행 0507-1305-6509</div>
		      </div>
		    </div>-->
		    <div class="ft-details">
		      <div class="ft_mid">
		      	<div class="ft-left t ib">Copyright 2023. Making Baking by</div>
		      	<a th:href="@{https://www.instagram.com/ss_sseb/}"><i class="fa-brands fa-instagram insta3 ib"></i></a>
		        <div class="ft-left t ib">고은별</div>
		        <a th:href="@{#}"><i class="fa-brands fa-instagram insta3 ib"></i></a>
		        <div class="ft-left t ib">신나라</div>
		        <a th:href="@{https://www.instagram.com/raejung_lee/}"><i class="fa-brands fa-instagram insta3 ib"></i></a>
		        <div class="ft-left t ib">이래중</div>
		        <a th:href="@{https://www.instagram.com/seonminiz/}"><i class="fa-brands fa-instagram insta3 ib"></i></a>
		        <div class="ft-left t ib">안선민</div>
		        <a th:href="@{https://www.instagram.com/0103__hj/}"><i class="fa-brands fa-instagram insta3 ib"></i></a>
		        <div class="ft-left t ib">안혜지</div>
		        <div class="ft-left t ib">All rights reserved.</div>
		      </div>
		      <!--<div class="left">
		      <div>
		      	<a th:href="@{https://www.instagram.com/ss_sseb/}"><i class="fa-brands fa-instagram insta"></i></a>
		        <div class="ft-left t">고은별: 장바구니, 상품주문페이지, 클래스예약페이지, 마이페이지(주문/취소확인, 예약/취소확인)</div>
		      </div>
		      <div>
		        <a th:href="@{#}"><i class="fa-brands fa-instagram insta"></i></a>
		        <div class="ft-left t">신나라: 상품상세페이지, 클래스상세페이지, 마이페이지(나의 리뷰)</div>
		      </div>
		      <div>
		        <a th:href="@{https://www.instagram.com/raejung_lee/}"><i class="fa-brands fa-instagram insta"></i></a>
		        <div class="ft-left t">이래중: 로그인, 회원가입, 상품목록페이지, 클래스목록페이지, 마이페이지(개인정보확인, 회원탈퇴)</div>
		      </div>
		      </div>
		      <div class="right">
		      <div>
		      	<a th:href="@{https://www.instagram.com/seonminiz/}"><i class="fa-brands fa-instagram insta2"></i></a>
		        <div class="ft-right s">안선민: 관리자페이지(회원관리, 상품관리, 클래스관리, 주문 및 예약관리, 리뷰관리)</div>
		      </div>
		      <div>
		        <a th:href="@{https://www.instagram.com/0103__hj/}"><i class="fa-brands fa-instagram insta2"></i></a>
		        <div class="ft-right s">안혜지: Q&A, 공지사항, 이벤트게시판, 마이페이지(찜목록, 나의 QnA)</div>
		      </div>
		      </div>-->
		    </div>
		  </footer>
	</body>
</html>