<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	  
	<!-- head 영역 시작 -->
	<!-- 개별적으로 사용할 css, js 링크를 걸기 위해서 남겨둠 -->
	<head>
		<th:block layout:fragment="script">
		<link th:href="@{/css/cart.css}" rel="stylesheet">
			<script th:inline="javascript">
				
			</script>
		</th:block>
	</head>
	<!-- head 영역 끝 -->
	
	<body>
		<div layout:fragment="content">
			<div id="container">
	            <h1 id="cart_title">장바구니</h1>
	            <div id="process">
	                <span class="process1">장바구니</span><span class="processPointer1">&gt;</span><span class="process2">주문결제</span><span class="processPointer2">&gt;</span><span class="process3">주문완료</span>
	            </div>
	            <div id="selectbox">
	                <label for="selectAll"><input type="checkbox" name="select" id="selectAll" value="전체선택"> <span>전체선택</span></label>
	                <label for="selectAllCancel"><input type="checkbox" name="select" id="selectAllCancel" value="전체선택취소"> <span>전체선택취소</span></label>
	            </div>
	            <hr>
	            <div id="list_title">
	                <span class="itemInfo">상품정보</span><span class="itemQuantity">수량</span><span class="itemSum">상품금액</span><span class="itemOrder">삭제</span>
	            </div>
	            <hr>
	            <div id="cart_item">
	                <div id="item1">
	                    <div id="itemSelect">
	                        <input type="checkbox" name="select1" id="select1">                    
	                    </div>
	                    <div id="itemView">
	                        <img id="img1" src="상품대표이미지">
	                        <div id="detail1">
	                            <div id="detailName"><a th:href="상품 상세페이지" th:text="${itemName}"></a>상품명</div>
	                            <div id="detailPrice" th:text="${itemPrice}">상품가격</div>
	                        </div>    
	                    </div>
	                    <div id="itemAmount">
	                        <input type="number" name="itemCnt" id="cnt1" min="1" max="5" value="1" style="text-align:center;">
	                    </div>                    
	                    <div th:text="${itemPrice*${itemCnt.val()}}" id="price1">원</div>  
	                    <div id="itemDel">
	                        <input type="button" id="btnDel" value="삭제" onclick="">
	                    </div>
	                </div>
	                <p class="cart_detail">장바구니에 담긴 상품이 없습니다.</p>
	            </div>
	            <hr>
	            <div id="totalPrice">
	                <span>상품 총 금액: </span> <span th:text="${totalPrice}">원</span> <span>&#43;</span> <span>배송비: </span> <span th:text="${orderDeliFee}">원</span> <span>&#61;</span> <span>총 결제금액: </span> <span th:text="${totalPrice+orderDeliFee}">원</span>
	            </div>
	            <hr>
	            <input type="button" id="btnSelectedOrder" value="주문" onclick="location.href='viewOrderpage'">
	        </div>
		</div>
	</body>
</html>