#order_title {
    font-size: 40px;
}
#process {
    float: right;
    font-size: 20px;
}
#process>span {
    margin: 2px 5px;
}
.process2, .processPointer2 {
    font-weight: bold;
}
#top {
    clear: both;
    margin-top: 90px;
}
#top .item_check {
    margin-top: 90px;
    margin-bottom: 0px;
    font-size: 22px;
}
#top .freeDeliMent {
    margin-top: 0px;
    margin-left: 890px;
}
#list_title {
    font-size: 0.9em;
}
#list_title .itemInfo {
    margin-left: 100px;
}
#list_title .itemSum {
    margin-left: 600px;
}
#list_title .itemQuantity {
    margin-left: 120px;
}
#list_title .sumPrice {
    margin-left: 140px;
}
#img1 {
    margin-left: 80px;
}
#detail1 {
    display: inline-block;
    width: 55%;
}
#name1 {
    display: inline-block;
    margin-left: 10px;
}
#price1 {
    display: inline-block;
    width: 14%;
    text-align: right;
}
#cnt1 {
    display: inline-block;
    width: 10%;
    text-align: right;
}
#sumprice1 {
    display: inline-block;
    width: 18%;
    text-align: right;
}
#totalPrice {
    float: right;
    font-size: 0.9em;
    margin-bottom: 8px;
}
#totalPrice+hr {
    clear: both;
}
#delivery {
    margin-top: 100px;
}
#delivery .deliInfo {
    margin-bottom: 0px;
    font-size: 22px;
}
.table-wrap {
    display: flex;
}
table {
    border-spacing: 3px 13px;
    text-align: left;
}
table td {
    padding-left: 10px;
}
table>caption {
    text-align: left;
}
#delivery #T1 {
    display: inline-block;
}
#recipient {
    width: 120px;
    height: 20px;
}
#addr1 {
    width: 70px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#btnZipcode {
    height: 26px;
    vertical-align: middle;
}
#addr2 {
    margin-bottom: 5px;
}
#addr2, #addr3 {
    width: 400px;
    height: 20px;
}
#extraAddr {
    width: 200px;
    height: 20px;
}
#reciTel1, #reciTel2, #reciTel3 {
    width: 50px;
    height: 20px;
}
#delivery #T2 {
    display: inline-block;
    margin-left: 100px;
}
#T2 tr {
    height: 30px;
}
#orderer {
    width: 120px;
    height: 20px;
}
#orderTel1, #orderTel2, #orderTel3 {
    width: 50px;
    height: 20px;
}
#orderMail {
    height: 20px;
}
#delivary+hr {
    clear: both;
}
#payment_title {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 22px;
}
#btns {
    margin: 10px 0 20px 40px;
}
#bankTransfer, #creditCard {
    width: 100px;
    height: 30px;
}
#bankPayment {
    margin-left: 40px;
}
#bank {
    vertical-align: middle;
}
#accountNo1 {
    margin-left: 15px;
    width: 200px;
    height: 19px;
    vertical-align: middle;
}
#depositorTitle {
    margin-top: 15px;
}
#depositor {
    width: 150px;
    height: 19px;
    vertical-align: middle;
}
#btnPayment {
    margin-top: 40px;
    margin-left: 460px;
    width: 270px;
    height: 40px;
    font-size: 22px;
}