    .centre {
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      height:100%;
      margin-left: 29rem;
    }

    /* 사이드 바 */
    .mypage2 {
      width: 170px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #28693F;
      margin-top: 1.5rem;
    }
    .centre .left-nav-bar .mypage2 h2 a{
      color:white;
   }

    .menu {
      width: 170px;
      height: 450px;
      border: 1px solid rgba(0,0,0,.1);
    }
    
    .menu-group, .menu-name {
      margin-top:5px;
   }
    
    .centre .left-nav-bar .menu .sub-menu .menu-group .menu-name a,
    .centre .left-nav-bar .menu .sub-menu .menu-group a {
      color: black;
   }
   
    .centre .left-nav-bar .menu .sub-menu .menu-group .menu-name a:hover,
    .centre .left-nav-bar .menu .sub-menu .menu-group a:hover {
      color: #28693F;
   }
    
    .centre .left-nav-bar .menu .sub-menu{
      margin: 30px 20px;
    }
    
    .centre .left-nav-bar .menu .sub-menu .menu-name{
      margin-left: 2rem;
      font-size: 13px;
    }

    /* 메인 내용 */
    .mainContentWrapper {
      margin-left: 50px;
      height: 100%;
   }
    .main-content {
      padding: 20px;
      margin-left: 1rem;
      height: 92%;
    }
    h2 {
      display: inline-block;
      margin-bottom: 10px;
   }
    .search {
      display: inline-block;
      margin-left: 335px;
    }

    .search-bar {
      width: 7rem;
      border: 1px solid #bbb;
      border-radius: 8px;
      padding: 8px 8px;
      font-size: 14px;
      margin-bottom: 10px;
    }

    /* 아이템 */
    #boxxWrapper {
      height: 90%;
   }
    .boxx {
      display: flex;
      align-items: center;
      border: 1px solid black;
      width: 35rem;
      height: 100px;
      position: relative;
      margin-bottom: 10px;
    }
    .imgWrapper {
      width: 120px;
      height: 90px;
      margin-right: 10px;
   }
   .imgWrapper>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-left: 5px;
   }
    .box_product {
      display: flex;
      flex-direction: column;
    }
    .box_product_detail {
      margin: 5px;
    }
    .box_right {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
    }
    .box_right_detail {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .box_right_detail_b {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    .centre .main-content .boxx .box_right a{
      color: black;
    }
    .noOrder {
      margin-top: 20px;
      text-align: center;
   }
   .paging {
      text-align: center;
   }
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }    
    .paging a{
     display: block;
     margin: 0 3px;
     border: 1px solid #ccc;
     width: 28px;
     height: 28px;
     line-height: 26px;
     text-align: center;
      color: #8c8c8c;
      font-size: 16px;
      font-weight: 600;
    }
    .paging a:hover {
      color: #28693F;
    }
    .paging a:focus {
      background:#28693F;
      color: white;
   }
   .paging .pagination .pagination_button a.present {
      border-color: #28693F;
      background: #28693F;
      color: white;
   }