.centre {
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      height:100%;
      margin-left: 29rem;
    }

    /* 사이드 바 */
    .mypage2 {
      width: 170px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #28693F;
      margin-top: 1.5rem;
    }
    .centre .left-nav-bar .mypage2 h2 a{
		color:white;
	}

    .menu {
      width: 170px;
      height: 450px;
      border: 1px solid rgba(0,0,0,.1);
    }
    
    .menu-group, .menu-name {
		margin-top:5px;
	}
    
    .centre .left-nav-bar .menu .sub-menu .menu-group .menu-name a,
    .centre .left-nav-bar .menu .sub-menu .menu-group a {
		color: black;
	}
	
    .centre .left-nav-bar .menu .sub-menu .menu-group .menu-name a:hover,
    .centre .left-nav-bar .menu .sub-menu .menu-group a:hover {
		color: #28693F;
	}
    
    .centre .left-nav-bar .menu .sub-menu{
      margin: 30px 20px;
    }
    
    .centre .left-nav-bar .menu .sub-menu .menu-name{
      margin-left: 2rem;
      font-size: 13px;
    }
    /* 메인 */
.c1 {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    .form{
      text-align: center;
      padding:1rem;
      width:25rem;
      border-radius: .5rem;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
      border:1px solid black;
      background: #fff;
    }

    .buttons{
      display: flex;
      gap:1rem;
      align-items: center;
    }
    .btn2{
      padding: 0.8rem;
      display: block;
      width:100%;
      margin:.5rem 0;
      background: white;
  	  color: #28693F;
  	  border: 1px solid #28693F;
      cursor: pointer;
      border-radius: 0.5rem
      
    }
    .btn2:hover {
		color:white;
		background:#28693F;
	}
    .pw-check {
      position: relative;
      /* display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px; */
      margin-bottom: 1rem;
      margin-top: 10px;
    }
    .pw-check input{
      position: relative;
      padding: 10px;
      font-size: 1rem;
      border-radius: 0.5rem;
      width: 100%;
      border: 1px solid black;
    }