<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
	
		<th:block layout:fragment="script">
			<!-- 슬라이더 -->
			<script th:src="@{https://unpkg.com/swiper@7/swiper-bundle.min.js}"></script>
			<script th:src="@{https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js}"></script>
			
			<script th:inline="javascript">
				$(function() {					
					if($("#quitMsg").val() == "Y") {
						alert("탈퇴가 되었습니다.");
						locaion.href = "/main/main";
					}
					/* console.log($("#btn-login"));
					console.log($("#msg").val()); */
					if($("#msg").val() == "joinSuccess") {
						$("#btn-login").click();
						$("#msg").val("");
					}
					
					let aaa = new Swiper(".mySwiper", {
					    navigation: {
					      nextEl: ".swiper-button-next",
					      prevEl: ".swiper-button-prev",
					    },
					});
				});
			</script>
		</th:block>
		<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css}"/>
			<link rel="stylesheet" th:href="@{/css/index/index.css?ver}"/>
		</th:block>
	</head>
	
<body>
  <div layout:fragment="content">
	<input type="hidden" id="msg" th:value="${msg}">
	<input type="hidden" id="quitMsg" name="quitMsg" th:value="${quitMsg}">
	<div class="swiper mySwiper">
	    <div class="swiper-wrapper">
	      <div class="swiper-slide"><img th:src="@{/images/main/main1.PNG}" alt=""></div>
	      <div class="swiper-slide"><img th:src="@{/images/main/main6.jpg}" alt=""></div>
	      <div class="swiper-slide"><img th:src="@{/images/main/main3.jpg}" alt=""></div>
	      <div class="swiper-slide"><img th:src="@{/images/main/main7.jpg}" alt=""></div>
	      <div class="swiper-slide"><img th:src="@{/images/main/main5.jpg}" alt=""></div>
	    </div>
	    <div class="swiper-button-next"></div>
	    <div class="swiper-button-prev"></div>
	</div>
  <main>
	<div id="main_container">
		<div class="banner">
			<p id="banner_content">좋은 재료로 만들어 건강하고, 갓 구워 신선한 빵과 케이크를 만날 수 있는 곳&emsp;-&emsp;Making Baking</p>
		</div>
		<div class="dayclass">
			<div class="dayclass_content">
				<div class="dayclass_img main_img">
					<img src="/images/main/dayclass.jpg">
				</div>
				<div class="dayclass_detail">
					<h4>Oneday Class</h4>
					<p>누가 만들어도 항상 맛있는 레시피!<br>
					쉬운 레시피에 활용도를 더한 커리큘럼으로 구성한<br>
					여러 종류의 원데이 클래스를 운영하고 있습니다.<br><br>
					베이킹이 어렵게만 느껴지는 초보 홈 베이커도,<br>
					카페 사장님도, 취미로 시작해보고 싶은 모든 분들도<br>
					더 이상 망설이지 마시고 시작해보세요.</p>
				</div>
			</div>
		</div>
		<div class="bakery">
			<div class="bakery_content">
				<div class="bakery_detail">
					<h4>Bakery</h4>
					<p>매일 구워 신선한 빵과 케이크를 만날 수 있는 곳.<br>
					   여기는 신선함이 가득한 베이커리, 메이킹베이킹입니다.<br><br>
					   고품질 원재료와 뛰어난 생산팀의 기술력을 기반으로,<br>
					   트렌드를 선도하는 디저트를 생산함으로써<br>
					   보다 새롭고 맛있는 제품을 제공하여<br>
					   고객만족 실현에 앞장서고 있습니다.</p>
				</div>
				<div class="bakery_img main_img">
					<img src="/images/main/bakery.jpg">
				</div>
			</div>
		</div>
		<div class="vegan">
			<h3>Major Vegan Products</h3>
			<div class="vegan_content">
				<div class="vegan_box">
					<div class="vegan_img sub_menu_img">
						<img src="/images/main/vegan/올리브쌀치아바타.png" width="260px">
					</div>
					<div class="vegan_detail">
						<h5>올리브쌀 치아바타</h5>
						<p>건강한 우리 쌀과 올리브가<br>가득 들어있는 치아바타입니다.</p>
					</div>
				</div>
				<div class="vegan_box">
					<div class="vegan_img sub_menu_img">
						<img src="/images/main/vegan/무화과깜빠뉴.jpg" width="260px">
					</div>
					<div class="vegan_detail">
						<h5>무화과 깜빠뉴</h5>
						<p>달콤한 무화과가 가득 들어있는<br>깜빠뉴입니다.</p>
					</div>
				</div>
				<div class="vegan_box">
					<div class="vegan_img sub_menu_img">
						<img src="/images/main/vegan/소금빵.jpg" width="260px">
					</div>
					<div class="vegan_detail">
						<h5>소금빵</h5>
						<p>짭쪼름한 맛이 담백하게 어우러진<br>깊은 맛의 소금빵입니다.</p>
					</div>
				</div>
				<div class="vegan_box">
					<div class="vegan_img sub_menu_img">
						<img src="/images/main/vegan/우리밀식빵.jpg" width="260px">
					</div>
					<div class="vegan_detail">
						<h5>우리 밀 식빵</h5>
						<p>100% 국내산 밀을 사용한<br>비건 식빵입니다.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
  </main>
  </div>
</body>
</html>