#sub-navbar {
  margin-top: 3rem;
  text-align: right;
  margin-right: 17rem
}
.sub-navbar select {
  width: 10rem;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 2px solid #28693F; 
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
}
.sub-navbar select:focus {
	border-bottom-color: red;
}
/*
ul{
  position: relative;
  display: flex;
}
ul li{
  position: relative;
}
ul li span{
  position: relative;
  font-size: 1.1em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px black;
}
ul li span::before{
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 1px solid var(--clr);
  border-bottom: 1px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
ul li span:hover::before{
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
*/

#prod {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  grid-gap: 50px;
  margin: 5rem;
  /* display: flex; */
  justify-content: center;
  /* display: none; */
}

  .item-box{
    position: relative;
    width: 300px;
    height: 200px;
    outline: 2px solid rgb(118 118 118 / 35%);
    outline-offset: -12px;
    border-radius: 10px;
    overflow: hidden;
    isolation: isolate;
  }

  .card_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
    z-index: -1;
  }

  .card:hover .card_img {
    transform: scale(1.1);
  }

  
  .sold_out, .no_item{
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 10px;
  }

  .sold_out > p, .no_item > p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5rem;
  }

  h3 {
    text-align: center;
    margin-top: 10px;
  }

h3 a{
	color: black;
	cursor:pointer;
}

h3 a:hover{
	color: #28693F;
}
#more_btn {
	display: flex;
    justify-content: center;
    text-align: center;
}
#more {
	width: 75px;
    margin-bottom: 1rem;
}

.show-more {
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  font-size: 1.2rem;
}
#topBtn {
  position: fixed;
  right: 10rem;
  bottom: 17rem;
  display: none;
}