* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; 
  border: none;
  text-decoration: none;
}

#container {
  width: 1200px; 
  margin: 0 auto 100px;
}

h3 { 
  font-size: 24px;
  margin: 10px 0 0 10px;
}

#high-nav {
  margin-top: 100px;
}

#high-nav>#qna-button {
  width: 200px; height: 70px;
  display: inline-block;
  font-size: 32px; font-weight: bold;
  color: black; 
  background-color: #fff;
  padding-bottom: 30px;
}

#high-nav>#notice-button {
  width: 200px; height: 70px;
  display: inline-block;
  font-size: 32px; font-weight: bold;
  color: black; 
  background-color: #fff;
  padding-bottom: 30px;
}

#high-nav>#event-button {
  width: 200px; height: 70px;
  display: inline-block;
  font-size: 32px; font-weight: bold;
  color: black; 
  background-color: #fff;
  padding-bottom: 30px;
}

#high-container {
  width: 100%; height: fit-content;
  background-color: #FFFAF0;
  padding: 30px;
}

#oft-qna-container {
  width: 100%; height: 280px;
  background-color: #fff;
  border-radius: 10px;
}

#oft-qna-title { 
  font-size: 24px;
  margin: 10px 0 10px 10px;
}

.oft-qna {
  display: inline-block;
  width: 347px;
  height: 240px;
  background-color: #99d09F;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  border-radius: 10px;
}

.oft-qna:first-child {
  display: inline-block;
  width: 347px;
  height: 240px;
  margin: 20px 10px 20px 20px;
}

.oft-qna:last-child {
  display: inline-block;
  width: 348px;
  height: 240px;
  margin: 20px 20px 20px 10px;
}

.oft-qna-q {
  font-size: 20px;
  height: 105px;
  margin-left: 0 10px;
  font-weight: bold;
}

.oft-qna-a {
  font-size: 18px;
  height: 105px;
}

#mid-nav {
  margin-top: 60px;
}

#mid-nav>#dayclass-button {
  width: 130px; height: 50px;
  display: inline-block;
  font-size: 18px; font-weight: bold; 
  color: white; 
  background-color: #28693F;
  margin-left: 20px;
}

#mid-nav>#item-button {
  width: 130px; height: 50px;
  display: inline-block;
  font-size: 18px; font-weight: bold; 
  color: black; 
  background-color: #fff;
  border: 1px solid #28693F;
}

#mid-container{
  width: 100%; height: fit-content;
  background-color: #fff;
  padding: 30px;
}

#list-table { width: 100%; border-collapse: collapse; }

tr { height: 40px;}

th { 
  border-bottom: 1px solid gray;
  font-size: 15px;
}

td { font-size: 15px;}

#th-title { border-right: 1px solid gray;}

#th-date, #th-answer, #th-cnt { border-left: 1px solid gray;}

.list-answer, .list-date, .list-writer, .list-cnt { text-align: center;}

.list-title { 
  padding: 0 5px;
  border-right: 1px solid gray;
}

.list-title>a {color: black;}

.list-date, .list-answer, .list-cnt { border-left: 1px solid gray;}

.pagination {
  list-style: none;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.pagination_button {
  float: left;
  margin-left: 5px;
}